@model Inspinia_MVC5.Models.Projets

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Projets</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_PROJET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_PROJET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEBUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEBUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTANT_HT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTANT_HT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GARANTIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GARANTIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SociID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decaissement.DecaissID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decaissement.DecaissID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiers.TEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiers.TEL)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.PrID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













