@model Inspinia_MVC5.Models.Centres_couts


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Centres_couts_frm Centres_couts</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Libelle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Libelle)
                @Html.ValidationMessageFor(model => model.Libelle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatID, "CatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CatID", String.Empty)
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categorie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Categorie)
                @Html.ValidationMessageFor(model => model.Categorie)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-primary" onclick="update_clients()" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 
<script>
    function update_clients() {
          debugger;
        $.ajax({
            type: 'POST',

            url: "/Decaissements/AddCentres?Libelle=" + Libelle.value,
            success: function (response) {

                $("#Libelle").val("");
                window.location.href = "Create";
            }
        });
    }
    </script>
