@model Inspinia_MVC5.Models.Horaire

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Horaire</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Horaire1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Horaire1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Horaire1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Debut, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Debut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Debut, "", new { @class = "text-danger" })*@
            <div class="input-group clockpicker" data-autoclose="true">
                <input type="text" class="form-control" name="Debut" id="Debut" value="08:00">
                <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sortie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Sortie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sortie, "", new { @class = "text-danger" })*@
            <div class="input-group clockpicker" data-autoclose="true">
                <input type="text" class="form-control" name="Sortie" id="Sortie" value="15:00">
                <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Debut, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Debut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Debut, "", new { @class = "text-danger" })*@
            <div class="input-group clockpicker" data-autoclose="true">
                <input type="text" class="form-control" name="Debut1" id="Debut1" value="">
                <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sortie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Sortie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sortie, "", new { @class = "text-danger" })*@
            <div class="input-group clockpicker" data-autoclose="true">
                <input type="text" class="form-control" name="Sortie2" id="Sortie2" value="">
                <span class="input-group-addon">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
        </div>
    </div>

    @*<div class="form-group">
                 @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                 </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Styles {
    @Styles.Render("~/plugins/clockpickerStyles")


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/clockpicker")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.clockpicker').clockpicker();

        });
</script>
}
