@model Inspinia_MVC5.Models.Horaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horaire1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horaire1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sortie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
