<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	#Tableau {
		/*margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		border: 1px solid #000000;*/
		width: 2000px;
	}

	.divScroll {
		overflow: auto;
		/*height: 200px;*/
		/*width: 800px;*/
	}

	.multiselect {
		width: 200px;
	}

	.selectBox {
		position: relative;
	}

		.selectBox select {
			width: 100%;
			font-weight: bold;
		}

	.overSelect {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#checkboxes {
		display: none;
		border: 1px #dadada solid;
	}

		#checkboxes label {
			display: block;
		}

			#checkboxes label:hover {
				background-color: #1e90ff;
			}

	.modal-dialog {
		width: 1200px; /* New width for default modal */
	}

	.modal-sm {
		width: 350px; /* New width for small modal */
	}

	.modal-lg {
		width: 950px; /* New width for large modal */
	}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			DEVIS FOURNISSEUR
		</h2>
		<ol class="breadcrumb">
			<li><a>Achat</a> </li>
			<li class="active">
				@if (ViewBag.Mode == "Edit")
				{
					<strong>Modifier un devis fournisseur</strong>
				}
				else
				{
					<strong>Nouveau devis fournisseur</strong>
				}
				@if (ViewBag.Mode == "Aff")
				{
					<strong>Afficher un devis fournisseur</strong>
				}
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	@using (Html.BeginForm("SendDevis", "Achat", new { Mode = ViewBag.Mode, Code = ViewBag.Code }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		<div class="row" style="margin-bottom: 20px; margin-right: 0px;">
			<button class="btn btn-primary pull-right" type="submit">
				<span class="bold">Enregistrer</span>
			</button>
			@*<button class="btn btn-warning pull-right" type="button" style="margin-right: 5px;"
						id="DeleteBtn" onclick="Delete();">
					<span class="bold">Supprimer</span>
				</button>*@
			<button class="btn btn-success pull-right" type="button" style="margin-right: 5px;" @if (ViewBag.Mode == "Create") { @: disabled
					}
					id="PrintBTN">
				<span class="bold">Imprimer</span>
			</button>
			<div class="btn-group pull-right" style="margin-right: 5px;">
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" @if ((ViewBag.Mode == "Create") || (ViewBag.Mode == "Aff" || ViewBag.EnEcours != null)) { @: disabled
						}>
					Transformer <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li id="VersBonReception" onclick="VersCommande();"><a href="#">Commande</a></li>
					@*<li id="VersDevis" onclick="VersDevis();"><a href="#">Devis Client</a></li>*@
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-2 control-label" style="text-align: initial;">
						NUMERO
					</label>
					<div class="col-lg-10">
						@if (ViewBag.numeroo != null)
						{
							<input type="text" class="form-control" readonly="true" name="numero" id="numero" value="@ViewBag.numeroo" required>
						}
						else
						{
							<input type="text" class="form-control" readonly="true" name="numero" id="numero" value="@ViewBag.Numero" required>

						}
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-2 control-label" style="padding-left: 0px; text-align: initial;">
						CODE
					</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" readonly="true" name="codeFournisseur" id="codeFournisseur" value="@ViewBag.codeClient"
							   required>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-2 control-label" style="text-align: initial;">
						DATE
					</label>
					<div class="col-lg-10">
						<div class="input-group date">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							@if (ViewBag.Date != null)
							{
								<input type="text" class="form-control" name="date" id="date" value="@ViewBag.Date" required>
							}
							else
							{
								<input type="text" class="form-control" name="date" id="date" required>

							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label class="col-lg-2 control-label" style="padding-left: 0px; text-align: initial;">
						FOURNISSEUR
					</label>
					<div class="col-lg-10" style="padding-left: 0px;">
						<div class="col-lg-11">
							<select class="form-control" name="fournisseur" id="fournisseur" required><option>@ViewBag.client</option></select>
						</div>

						<div class="col-lg-1" style="padding-left: 0px;padding-right: 0px;">
							<a href="javascript:void(0);" class="Fournisseurs"><button class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-plus"></i></button></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="col-lg-2 control-label" style="text-align: initial;">
							Code Projet
						</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="designation" id="designation" value="">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="col-lg-2 control-label" style="padding-left: 0px; text-align: initial;">
							tiers
						</label>
						<div class="col-lg-10" style="padding-left: 0px;">

							
								<select class="form-control" name="tiers" id="tiers" ><option>@ViewBag.tiers</option></select>
							

						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="col-lg-2 control-label" style="padding-left: 20px; text-align: initial;">
							PAIEMENT
						</label>
						<div class="col-lg-10">
							<select class="form-control" name="modePaiement" id="modePaiement" required>
								@if (ViewBag.modePaiement != null)
								{
									<option value="@ViewBag.modePaiement">@ViewBag.modePaiement</option>
								}
								else
								{
									<option value=""></option>

								}
								<option value="Chèque">Chèque</option>
								<option value="Espèce">Espèce</option>
								<option value="Virement bancaire">Virement bancaire</option>
								<option value="Carte bancaire">Carte bancaire</option>
								<option value="A terme">A terme</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="col-lg-2 control-label" style="text-align: initial;">
							REMISE %
						</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" name="remise" id="remise" value="0" min="0" required>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="col-lg-2 control-label" style="padding-left: 20px; text-align: initial;">
							date de validité
						</label>
						<div class="col-lg-10">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								@if (ViewBag.Dateval != null)
								{
									<input type="text" class="form-control" name="date2" id="date2" value="@ViewBag.Dateval" required>
								}
								else
								{
									<input type="text" class="form-control" name="date2" id="date2" required>

								}
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="hr-line-dashed">
				</div>
				<div class="row">
					<div class="col-lg-10">
						<strong>Totaux</strong>
					</div>
					<div class="col-lg-2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">
						TOTAL HT
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" readonly="true" name="totalHT" id="totalHT">
					</div>
					<label class="col-lg-2 control-label">
						NET HT
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" readonly="true" name="NetHT" id="NetHT">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">
						TOTAL TVA
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" readonly="true" name="totalTVA" id="totalTVA">
					</div>
					<label class="col-lg-2 control-label">
						TOTAL TTC
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" readonly="true" name="TotalTTC" id="TotalTTC">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">
					</label>
					<div class="col-lg-4">
					</div>
					<label class="col-lg-2 control-label">
						NET A PAYER
					</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" readonly="true" name="netAPaye" id="netAPaye"
							   style="font-size: x-large;">
					</div>
				</div>
				<input type="hidden" name="WithPrint" id="WithPrint" />
				@*<div id='myModal' class='modal'>
				<div class="modal-dialog">
					<div class="modal-content">
						<div id='popupfrs'>
						</div>
					</div>
				</div>

			</div>*@
				<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content animated bounceInRight">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

								<i class="fa fa-user modal-icon"></i>
								<h4 class="modal-title">Nouveau Fournisseur</h4>
								<small class="font-bold">Veuillez saisir les informations nécssaires.</small>
							</div>
							<div class="modal-body">
								<div id='popupfrs'>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
								<input type="button" value="Create" class="btn btn-primary" onclick="update_frs()" />

							</div>
						</div>
					</div>
				</div>
				<div class="hr-line-dashed">
				</div>
				<div class="row">
					<div class="col-lg-10">
						<strong>Lignes</strong>
					</div>
					<div class="col-lg-2">
					</div>
				</div>
				<div class="divScroll">
					<table class="table table-striped table-bordered table-hover dataTables-example"
						   id="Tableau">
						<thead>
							<tr>
								<th style="width:150px;">
									REF
								</th>
								<th>
									DESCRIPTION
								</th>

								<th style="width:150px;">
									Marque
								</th>
								<th style="width:150px;">
									Unite
								</th>
								<th style="width:150px;">
									Devise
								</th>
								<th style="width:150px;">
									Categorie
								</th>
								<th style="width:150px;">
									Sous_Categorie
								</th>
								@*<th>
								STOCK
							</th>*@
								<th>
									QTE
								</th>
								<th>
									PUHT
								</th>
								<th>
									REMISE
								</th>
								<th>
									PTHT
								</th>
								<th style="width:90px;">
									TVA
								</th>

								<th>
									TTC
								</th>
								<th>
								</th>
							</tr>
						</thead>
						<tbody></tbody>
						<tfoot>
							<tr>
								<td>
									<input type="text" class="form-control" id="articles" />

								</td>

								<td>
									<textarea id="descriptionProduit"></textarea>

								</td>
								<td>
									<input class="form-control" id="marque" />
								</td>
								<td>
									<input class="form-control" id="unite" value="U" />
								</td>
								<td>
									<input class="form-control" id="devise" value="TND" />
								</td>
								<td>
									<input class="form-control" id="categorie" />
								</td>
								<td>
									<input id="Sous_Categorie" name="Sous_Categorie" style="width:140px; height:35px;" />
								</td>
								@*<td>
								<input type="text" class="form-control" id="StockProduit" readonly="true" />
							</td>*@
								<td>
									<input type="number" class="form-control" id="QuantiteProduit" value="1" min="1" />
								</td>
								<td>
									<input type="number" class="form-control" id="PUHTProduit" value="0" min="0" />
								</td>
								<td>
									<input type="number" class="form-control" id="RemiseProduit" value="0" min="0" />
								</td>
								<td>
									<input type="number" class="form-control" id="PTHTProduit" readonly="true" value="0" />
								</td>
								@*<td>
							<input type="number" class="form-control" id="TVAProduit" min="0" />
							</td>*@
								<td>
									<input class="form-control" id="TVAProduit" value="19" />
								</td>
								<td>
									<input type="number" class="form-control" id="TTCProduit" value="0" readonly="true" />
								</td>
								<td style="display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px;
                        border-top-width: 0px;">
									<button class="btn btn-info btn-circle" type="button" onclick="AddRow()" id="FirstBTN">
										<i class="fa fa-check"></i>
									</button>
									<button class="btn btn-warning btn-circle" type="button">
										<i class="fa fa-times"></i>
									</button>
									<button class="btn btn-info btn-circle" type="button" onclick="PrintRow()" id="PrintRowBTN" disabled>
										<i class="fa fa-print"></i>
									</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>

			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Services</h5>
					<span class="label label-primary">S</span>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>


					</div>

				</div>
				<div class="ibox-content">

					<div>
						<div class="divScroll">

							<table class="table table-striped table-bordered table-hover dataTables-example" id="Tab">
								<thead>
									<tr>

										<th style="width:160px;">
											REF_SERVICE
										</th>
										<th>
											DES_SERVICE
										</th>
										<th>
											UNITE
										</th>
										<th>
											QTE
										</th>

										<th>
											PUHT
										</th>
										<th>
											REMISE
										</th>
										<th>
											PTHT
										</th>
										<th style="width:90px;">
											TVA
										</th>
										<th>
											PTTC
										</th>
										<th style="width:200px;">
											NB RESSOURCES
										</th>

										<th>

										</th>


									</tr>
									<tr>
										<th colspan="8" style="text-align:right">Coût services:</th>
										<th><input type="text" class="form-control" readonly="true" name="NettotalTTCSERV" id="NettotalTTCSERV" value="0" required></th>
										<th></th>

									</tr>
								</thead>

								<tbody></tbody>
								<tfoot>
									<tr>
										<td>
											<input type="number" class="form-control" id="SERVICE" />
										</td>
										<td>
											<textarea id="descriptionSERVICE">
                                        </textarea>
										</td>
										<td>
											<input class="form-control" id="uniteSERVICE" value="H" />
										</td>
										<td>
											<input type="number" class="form-control" id="QuantiteSERVICE" value="1" min="1" />

										</td>
										<td>
											<input type="number" class="form-control" id="PUHTSERVICE" min="0" />

										</td>
										<td>
											<input type="number" class="form-control" id="RemiseSERVICE" value="0" min="0" />

										</td>
										<td>
											<input type="number" class="form-control" id="PTHTSERVICE" readonly="true" />

										</td>
										<td>
											<input type="number" class="form-control" id="TVASERVICE" />

										</td>
										<td>
											<input type="number" class="form-control" id="TTCSERVICE" readonly="true" />

										</td>
										<td>

											<input type="text" class="form-control" id="RESSOURCE" />

										</td>
										<td style="display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px;
                                border-top-width: 0px;" required>
											<button class="btn btn-info btn-circle" type="button" onclick="AddRow2()" id="FirstBTN2">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-warning btn-circle" type="button" disabled>
												<i class="fa fa-times"></i>
											</button>
										</td>
									</tr>

								</tfoot>

							</table>

						</div>




					</div>
				</div>

			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Traçabilité</h5>
					<span class="label label-primary">T</span>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>


					</div>

				</div>
				<div class="ibox-content">

					<div>
						<div class="divScroll">

							<table class="table table-striped table-bordered table-hover dataTables-example">
								<thead>
									<tr>

										<th style="width:160px;">
											Employer
										</th>
										<th>
											Role
										</th>
										<th>
											Societé
										</th>
										<th>
											Date
										</th>
										<th>
											Ajoute
										</th>

										<th>
											Modification
										</th>


									</tr>

								</thead>

								<tbody></tbody>
								<tfoot>
									@if (ViewBag.id != null)
									{
										int iddevis = int.Parse(ViewBag.id);
										Inspinia_MVC5.Models.MED_TRABELSI db11 = new Inspinia_MVC5.Models.MED_TRABELSI();
										List<Inspinia_MVC5.Models.Tracabilite_Devis_Fournisseur> Tracabilite_Devis_Fournisseur = db11.Tracabilite_Devis_Fournisseur.Where(t => t.Id_Devis == iddevis).ToList();
										foreach (var item in Tracabilite_Devis_Fournisseur)
										{
											<tr>
												<td>
													@db11.Inscription.Where(f => f.InsriID == item.Personnel).FirstOrDefault().NOM
												</td>
												<td>
													@db11.Inscription.Where(f => f.InsriID == item.Personnel).FirstOrDefault().Direction
												</td>
												<td>
													@db11.SocieteLogo.Where(f => f.id == item.Societe).FirstOrDefault().Nom_Societe
												</td>
												<td>
													@item.Date
												</td>
												<td>
													@if (item.Ajoute_Par == true)
													{
														<span class="label label-primary">Ajoutée</span>

													}

												</td>
												<td>
													@if (item.Modifie_Par == true)
													{
														<span class="label label-warning-light">Modifiée</span>

													}
												</td>

											</tr>

										}
									}

								</tfoot>

							</table>

						</div>




					</div>
				</div>

			</div>



			}
		</div>

@section Scripts {

	<script src="~/Scripts/jquery-1.12.4.js"></script>
	<script src="~/Scripts/jquery-ui.js.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	@Scripts.Render("~/plugins/select2")
	@Scripts.Render("~/plugins/dataPicker")
	@Scripts.Render("~/plugins/dataTables")
	@Scripts.Render("~/plugins/sweetAlert")

	<script>
         var mode = "@ViewBag.Mode";
        var code = "@ViewBag.Code";
        $(function () {
            $(".Fournisseurs").click(function () {
                var date = $("#date").val();
                var numero = $("#numero").val();
                var designation = $("#designation").val();
                var modePaiement = $("#modePaiement option:selected").text();

                var client = $("#fournisseur option:selected").text();
                var codeClient = $("#codeFournisseur").val();
                
                var remise = $("#remise").val();
                var PartielView2 = "/Achat/Fournisseurs?Mode=" + mode + "&Code=" + code + "&Date=" + date + "&numero=" + numero + "&designation=" + designation + "&modePaiement=" + modePaiement + "&client=" + client + "&codeClient=" + codeClient + "&remise=" + remise;

                var $buttonClicked = $(this);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: PartielView2,
                    contentType: "application/json; charset=utf-8",
                    data: "",
                    datatype: "json",
                    success: function (data) {
                        $('#popupfrs').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

        });
	</script>
	<script type="text/javascript">
		function AddRow2() {
			var ID_Produit = $("#SERVICE").val();
			var LIB_Produi = $("#SERVICE").val();
			var Description_Produit = $('#descriptionSERVICE').val();
			var unite = $('#uniteSERVICE').val();
			var Quantite_Produit = $('#QuantiteSERVICE').val();
			var PUHT_Produit = $('#PUHTSERVICE').val();
			var Remise_Produit = $('#RemiseSERVICE').val();
			var PTHT_Produit = $('#PTHTSERVICE').val();
			var TVA_Produit = $("#TVASERVICE ").val();
			var TTC_Produit = $('#TTCSERVICE').val();
			var RESSOURCE = $("#RESSOURCE").val();
			var RESSOURCE2 = $("#RESSOURCE").val();
			//var RESSOURCE2 = $("#RESSOURCE option:selected").text();


			var data1 = {
				ID_Produit: ID_Produit,
				LIB_Produi: LIB_Produi,
				Description_Produit: Description_Produit,
				unite: unite,
				Quantite_Produit: Quantite_Produit,
				PUHT_Produit: PUHT_Produit,
				Remise_Produit: Remise_Produit,
				PTHT_Produit: PTHT_Produit,
				TVA_Produit: TVA_Produit,
				TTC_Produit: TTC_Produit,
				RESSOURCE: RESSOURCE,
				RESSOURCE2: RESSOURCE2,

			};


			$.ajax({
				type: 'POST',
				url: "/Achat/AddLineSERVICE",
				data: data1,
				success: function (response) {

					RemplirTableau4();

				}
			});
		}


		function RemplirTableau4() {
			$("#Tab tbody").empty();

			$.ajax({
				type: 'POST',
				url: "/Achat/GetAllLinSERVICE",
				success: function (response1) {

					$.each(response1, function (i, item) {


						var line = "<tr id='" + item.ID + "'><td>" + item.REFSERVICE + "</td><td>" + item.DescriptionSERVICE + "</td><td>" + item.UNITE + "</td><td>" + item.QUANTITE + "</td><td>" + item.PRIX_VENTE_HT + "</td><td>" + item.REMISE + "</td><td>" + item.PTHT + "</td><td>" + item.TVA + "</td><td>" + item.TTC + "</td><td>" + item.RESSOURCE2 + "</td><td style='display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;'> <button class='btn btn-info btn-circle' type='button' onclick='EditRow(\"" + item.ID + "\")' disabled id='BtnRow_" + item.ID + "'> <i class='fa fa-check'></i> </button> <button class='btn btn-warning btn-circle' type='button' onclick='DeleteRow2(\"" + item.ID + "\")'> <i class='fa fa-times'></i> </button> </td></tr>";
						$("#Tab tbody").append(line);


					});
					/*if (Mode == "Aff") {
						$("#Tab tfoot").empty();
					}
					else {
						$("#Tab tfoot").replaceWith("<tfoot><tr><tr><td><select type='text' class='form-control' id='SERVICE'/></td><td><textarea id='descriptionSERVICE'></textarea></td><td><input class='form-control' id='uniteSERVICE' value='H'/></td><td><input type='number' class='form-control' id='QuantiteSERVICE' value='1' min='1'/></td><td><input type='number' class='form-control' id='PUHTSERVICE' min='0' /></td><td><input type='number' class='form-control' id='RemiseSERVICE' value='0' min='0'/></td><td><input type='number' class='form-control' id='PTHTSERVICE' readonly='true'/></td><td><select class='form-control' id='TVASERVICE'><option>19</option></select></td><td><input type='number' class='form-control' id='TTCSERVICE' readonly='true'/></td><td><select type='text' id='RESSOURCE' data-placeholder='Choisir un employer...' class='chosen-select' multiple style='width:350px;' tabindex='4'></select></td><td style='display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;'> <button class='btn btn-info btn-circle' type='button' onclick='AddRow2()'  id='FirstBTN'> <i class='fa fa-check'></i> </button> <button class='btn btn-warning btn-circle' type='button' disabled> <i class='fa fa-times'></i> </button> </td> </tr> </tfoot>");
						$("#SERVICE").select2();
						$("#RESSOURCE").select2();
						$("#TVASERVICE").select2();
						RemplirListe11();
						RemplirListe12();
						RemplirListe13();
					}*/
				}
			});

			UpdatePrice();

		}

		/*************************************************************************************/
		RemplirListe11();
		function RemplirListe11() {
			$('#SERVICE').append($('<option>', {
				value: "",
				text: ""
			}));


			$.ajax({
				type: 'POST',
				url: "/Achat/GetAllSERVICE",
				success: function (response) {
					$.each(response, function (i, item) {
						$('#SERVICE').append($('<option>', {
							value: item.ID,
							text: item.REF
						}));
					});
				}
			});
		}




        function autocomplete() {
            $("#articles").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("Getarticles", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };
                            }
                        }
                    });
                    response(itemnamecodes);
                },
                select: function (event, ui) {
                    $.ajax({
                        cache: false, async: false, type: "POST",
                        url: "@(Url.Action("GetItemDetails", "Achat"))",
                        data: { "ID": ui.item.Id },
                        success: function (data) {
                            var item = data[0];
                            $("#descriptionProduit").val(item.descriptionProduit);
                            $("#marque").val(item.marque);
                            $("#unite").val(item.unite);
                            $("#devise").val(item.devise);
                            $("#categorie").val(item.categorie);
                            $("#Sous_Categorie").val(item.sous_categorie);
                            $("#quantite").val(item.QuantiteProduit);
                            $("#PUHTProduit").val(item.PUHTProduit);
                            $("#RemiseProduit").val(item.RemiseProduit);
                            $("#PTHTProduit").val(item.PTHTProduit);
                            $("#TVAProduit").val(item.TVAProduit);
                            $("#TTCProduit").val(item.TTCProduit);
                            action = data.Action;
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve Item.');
                        }
                    });
                }
            });
        }
       function autocomplete2() {
            $("#marque").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetMarque", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                }

            });
        }
        function autocomplete3() {
             $("#devise").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetDevise", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                }

            });
        }
        function autocomplete4() {
            $("#unite").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetUnite", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                }

            });
        }

         function autocomplete5() {
            $("#TVAProduit").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetTva", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                },
                select: function (event, ui) {

                    var Qte = $("#QuantiteProduit").val();
                    Qte = parseFloat(Qte);
                    var PRIX_VENTE_HT = parseFloat($('#PUHTProduit').val());
                    var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
                    var Remise = $("#RemiseProduit").val();
                    Remise = parseFloat(Remise);
                    var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
                    var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
                    $('#PTHTProduit').val(PTHTProduit.toFixed(3));
                    var TVA = ui.item.label;
                    TVA = parseFloat(TVA);
                    var MontantTVA = (PTHTProduit * TVA) / 100;
                    var TTCProduit = PTHTProduit + MontantTVA;
                    $('#TTCProduit').val(TTCProduit.toFixed(3));
                }

            });
        }
        function RemplirListeNewTva() {
            $("#NEW_TVA").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetTva", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                },
                select: function (event, ui) {


                    var Qte = $("#NEW_QTE").val();
                    Qte = parseFloat(Qte);
                    var PRIX_VENTE_HT = parseFloat($('#NEW_PUHT').val());
                    var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
                    var Remise = $("#NEW_REMISE").val();
                    Remise = parseFloat(Remise);
                    var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
                    var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
                    $('#NEW_PTHT').text(PTHTProduit.toFixed(3));
                    var TVA = ui.item.label;
                    TVA = parseFloat(TVA);
                    var MontantTVA = (PTHTProduit * TVA) / 100;
                    var TTCProduit = PTHTProduit + MontantTVA;
                    $('#NEW_PTCT').text(TTCProduit.toFixed(3));
                }

            });
        }
        function autocomplete6() {
            var ddlProducts = $("#Sous_Categorie");
            $("#categorie").autocomplete({
                source: function (request, response) {
                    var itemnamecodes = new Array();
                    $.ajax({
                        async: false, cache: false,
                        //type: "POST",
                        url: "@(Url.Action("GetCategorie", "Achat"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                itemnamecodes[i] = { label: data[i].Value, Id: data[i].Key };

                            }
                        }
                    });
                    response(itemnamecodes);
                },

                select: function (event, ui) {

                    $("#Sous_Categorie").autocomplete({
                        source: function (request, response) {
                            var itemnamecodes1 = new Array();
                            $.ajax({
                                cache: false, async: false, type: "POST",
                                url: "@(Url.Action("Getsscat", "Achat"))",
                                data: { "ID": ui.item.Id,"term": request.term},
                                success: function (data1) {
                                    for (var j = 0; j < data1.length; j++) {
                                        itemnamecodes1[j] = { label: data1[j].Value, Id: data1[j].Key };
                                    }
                                }
                            });
                            response(itemnamecodes1);
                        }
                    });
                    @*$("#Sous_Categorie").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                cache: false, async: false, type: "POST",
                                url: "@(Url.Action("GetsousByCategoryIdd", "Achat"))",
                                data: { "ID": ui.item.Id },
                                success: function (data) {
                                    ddlProducts.html('');
                                    $.each(data, function (id, option) {
                                        ddlProducts.append($('<option></option>').val(option.id).html(option.name));
                                        //alert(ddlProducts.text)
                                    });
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert('Found error to load product!!.');
                                }
                            });
                        }
                    });*@

                }
            });
        }
	</script>

	<script type="text/javascript">
        $(document).ready(function () {
        $("#Li-Achat").attr("class", "active");
        $("#ul-Achat").attr("class", "nav nav-second-level collapse in");
        $("#ul-Achat").attr("aria-expanded", "true");
        autocomplete();
        autocomplete2();
        autocomplete3();
        autocomplete4();
        autocomplete5();
        autocomplete6();
        //autocomplete2();
        //RemplirListe();
        RemplirListe2();
        RemplirListe3();
        RemplirListe4();
        RemplirListe5();
        RemplirListe6();
        $("#date").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#date2").datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#fournisseur").select2();
		
		$("#societe").select2();
		
        var Mode = "@ViewBag.Mode";
        var fournisseur = "@Model.FOURNISSEUR";
			var Societes = "@Model.Societes";
			var tiers = "@Model.Tiers";
        //******************************************************************
        $('#fournisseur').append($('<option>', {
            value: "",
            text: ""
			}));

        $.ajax({
            type: 'POST',
            url: "/Achat/GetAllFournisseur",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#fournisseur').append($('<option>', {
                        value: item.ID,
                        text: item.NOM
                    }));
                    if (Mode == "Edit") {
                        $("#fournisseur").val(fournisseur).trigger("change");
                    }
                    if (Mode == "Aff") {
                        $("#fournisseur").val(fournisseur).trigger("change");
                    }
                });
            }
			});



			$('#fournisseur').on('change', function () {

				$.ajax({
					type: 'POST',
					url: "/Achat/GetAllFournisseurtiers?ID=" + this.value,

					success: function (response) {
						$('#tiers').html('');
						$('#tiers').append($('<option>', {
							value: "",
							text: ""
						}));
						$("#tiers").select2();
						$.each(response, function (i, item) {
							$('#tiers').append($('<option>', {
								value: item.ID,
								text: item.NOM
							}));

							if (Mode == "Edit") {
								$("#tiers").val(tiers).trigger("change");
							}
							if (Mode == "Aff") {
								$("#tiers").val(tiers).trigger("change");
							}
						});
					}

				});
			});


        //*********************************************************************************

        $('#Societes').append($('<option>', {
            value: "",
            text: ""
        }));

        $.ajax({
            type: 'POST',
            url: "/Achat/GetAllSocietes",
            success: function (response) {

                $.each(response, function (i, item) {
                    $('#Societes').append($('<option>', {
                        value: item.SociID,
                        text: item.NOM

                    }));

                    if (Mode == "Edit") {
                        $("#Societes").val(Societes).trigger("change");
                    }
                });
            }
        });
        //--------------------------------------------------------------------------
         $(document).on("change", "#Societes", function (e) {
                //$('#Societes').on('change', function () {
            $("#codeSoc").val("");
            if (this.value != "") {
                $.ajax({
                    type: 'POST',
                    url: "/Vente/GetSocByID?ID=" + this.value,
                    success: function (response) {
                        $("#codeSoc").val(response.CODE_ACCES);
                    }
                });
            }
        });
         //*****************************************************************************************************
        @*$("#Societes").change(function () {

            var selectedItemValue = $(this).val();

            var ddlProducts = $("#Tiers");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetTiersBySocietesId", "Vente")',
                data: { "id": selectedItemValue },
                success: function (data) {
                ddlProducts.html('');
                $.each(data, function (id, option) {
                ddlProducts.append($('<option></option>').val(option.id).html(option.name));
                });
                },
                //error: function (xhr, ajaxOptions, thrownError) {
                //alert('Found error to load product!!.');
                //}
                });
                });*@
    //--------------------------------------------------------------------------
        //*****************************************************************************************************
        @*$(document).on("change", "#categorie", function (e) {
        //$("#categorie").change(function () {

            var selectedItemValue = $(this).val();

            var ddlProducts = $("#Sous_Categorie");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetsousByCategoryId", "Achat")',
                data: { "id": selectedItemValue },
                success: function (data) {
                ddlProducts.html('');
                $.each(data, function (id, option) {
                    ddlProducts.append($('<option style="width:100px; height:50px;"></option>').val(option.id).html(option.name));
                });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                alert('Found error to load product!!.');
                }
                });
        });*@
        //**************************** CHANGE TVA******************

        $(document).on("change", "#TVAProduit", function (e) {

            var Qte = $("#QuantiteProduit").val();
            Qte = parseFloat(Qte);
            var PRIX_VENTE_HT = parseFloat($('#PUHTProduit').val());
            var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
            var Remise = $("#RemiseProduit").val();
            Remise = parseFloat(Remise);
            var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
            var PTHTProduit = PrixTotHTSansRemise - MontantRemise;

            $('#PTHTProduit').val(PTHTProduit.toFixed(3));
            var TVA = $(this).val();
            TVA = parseFloat(TVA);
            var MontantTVA = (PTHTProduit * TVA) / 100;
            var TTCProduit = PTHTProduit + MontantTVA;

            $('#TTCProduit').val(TTCProduit.toFixed(3));

        });

        if (Mode == "Create") {
            $("#DeleteBtn").attr("disabled", true);
        }
        if (Mode == "Edit") {

            var remise = "@Model.REMISE";
            $("#remise").val(remise);
            var designation = decodeHtml("@Model.Designation");
            $("#designation").val(designation);
			RemplirTableau();
			RemplirTableau4();
			            

            var codeFournisseur = "@ViewBag.CODE_FOURNISSEUR";
            var date = "@Model.DATE";
            date = date.replace(" 00:00:00", "");
            var date2 = "@Model.Validite";
            date2 = date2.replace(" 00:00:00", "");
             var modePaiement = decodeHtml("@Model.MODE_PAIEMENT");
            $("#modePaiement").val(modePaiement).trigger("change");
            $("#date").val(date);
            $("#date2").val(date2);

            //
            var totalHT = "@Model.THT";
            var NetHT = "@Model.NHT";
            var totalTVA = "@Model.TTVA";
            var TotalTTC = "@Model.TTC";
			var netAPaye = "@Model.TNET";
		

            totalHT = parseFloat(totalHT);
            NetHT = parseFloat(NetHT);
            totalTVA = parseFloat(totalTVA);
            TotalTTC = parseFloat(TotalTTC);
            netAPaye = parseFloat(netAPaye);

            $("#totalHT").val(totalHT.toFixed(3));
            $("#NetHT").val(NetHT.toFixed(3));
            $("#totalTVA").val(totalTVA.toFixed(3));
            $("#TotalTTC").val(TotalTTC.toFixed(3));
            $("#netAPaye").val(netAPaye.toFixed(3));
			$("#fournisseur").val(fournisseur).trigger("change");
			$("#tiers").val(tiers).trigger("change");
            $("#codeFournisseur").val(codeFournisseur);
            //$("#modePaiement option").each(function (i, item) {
            //    if ($(this).attr("value") == modePaiement) {
            //        $(this).attr("selected", true);
            //    }
            //});
            //

        }
        if (Mode == "Aff") {

                    document.getElementById('date').disabled = true;
			document.getElementById('fournisseur').disabled = true;
			
                    document.getElementById('designation').disabled = true;
                    document.getElementById('tiers').disabled = true;
                    document.getElementById('modePaiement').disabled = true;
                    document.getElementById('remise').disabled = true;

                    var remise = "@Model.REMISE";

            $("#remise").val(parseInt(remise));
              var designation = decodeHtml("@Model.Designation");
               $("#designation").val(designation);
                    RemplirTableau1();
                    var codeFournisseur = "@ViewBag.CODE_FOURNISSEUR";
                    var date = "@Model.DATE";
                    date = date.replace(" 00:00:00", "");
                    var modePaiement = decodeHtml("@Model.MODE_PAIEMENT");
            $("#modePaiement").val(modePaiement).trigger("change");
                    $("#date").val(date);
                    //
                   var totalHT = ("@Model.THT").replace(",", ".");

                var NetHT = ("@Model.NHT").replace(",", ".");
                var totalTVA = ("@Model.TTVA").replace(",", ".");

             var TotalTTC = ("@Model.TTC").replace(",", ".");
             var netAPaye = ("@Model.TNET").replace(",", ".");

                    totalHT = parseFloat(totalHT);
                    NetHT = parseFloat(NetHT);
                    totalTVA = parseFloat(totalTVA);
                    TotalTTC = parseFloat(TotalTTC);
                    netAPaye = parseFloat(netAPaye);

                    $("#totalHT").val(totalHT.toFixed(3));
                    $("#NetHT").val(NetHT.toFixed(3));
                    $("#totalTVA").val(totalTVA.toFixed(3));
                    $("#TotalTTC").val(TotalTTC.toFixed(3));
                    $("#netAPaye").val(netAPaye.toFixed(3));
			$("#fournisseur").val(fournisseur).trigger("change");
			$("#tiers").val(tiers).trigger("change");
                    $("#codeFournisseur").val(codeFournisseur);
                    //$("#modePaiement option").each(function (i, item) {
                    //    if ($(this).attr("value") == modePaiement) {
                    //        $(this).attr("selected", true);
                    //    }
                    //});
        }
        //******************************************************************
        $(document).on("keydown", "input[type=number][data-modif!=edited]", function (e) {
            var Qte = $("#QuantiteProduit").val();
            Qte = parseFloat(Qte);
            var PRIX_VENTE_HT = parseFloat($('#PUHTProduit').val());
            var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
            var Remise = $("#RemiseProduit").val();
            Remise = parseFloat(Remise);
            var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
            var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
            $('#PTHTProduit').val(PTHTProduit.toFixed(3));
            var TVA = $('#TVAProduit').val();
            TVA = parseFloat(TVA);
            var MontantTVA = (PTHTProduit * TVA) / 100;
            var TTCProduit = PTHTProduit + MontantTVA;
            $('#TTCProduit').val(TTCProduit.toFixed(3));
        });
        $(document).on("keyup", "input[type=number][data-modif!=edited]", function (e) {
            var Qte = $("#QuantiteProduit").val();
            Qte = parseFloat(Qte);
            var PRIX_VENTE_HT = parseFloat($('#PUHTProduit').val());
            var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
            var Remise = $("#RemiseProduit").val();
            Remise = parseFloat(Remise);
            var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
            var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
            $('#PTHTProduit').val(PTHTProduit.toFixed(3));
            var TVA = $('#TVAProduit').val();
            TVA = parseFloat(TVA);
            var MontantTVA = (PTHTProduit * TVA) / 100;
            var TTCProduit = PTHTProduit + MontantTVA;
			$('#TTCProduit').val(TTCProduit.toFixed(3));

			/************************************************ */
			var Qte1 = $("#QuantiteSERVICE").val();
			Qte1 = parseFloat(Qte1);
			var PRIX_VENTE_HT1 = parseFloat($('#PUHTSERVICE').val());
			var PrixTotHTSansRemise1 = Qte1 * PRIX_VENTE_HT1;
			var Remise1 = $("#RemiseSERVICE").val();
			Remise1 = parseFloat(Remise1);
			var MontantRemise1 = (PrixTotHTSansRemise1 * Remise1) / 100;
			var PTHTProduit1 = PrixTotHTSansRemise1 - MontantRemise1;
			$('#PTHTSERVICE').val(PTHTProduit1.toFixed(3));
			var TVA1 = $('#TVASERVICE').val();
			TVA1 = parseFloat(TVA1);

			var MontantTVA1 = (PTHTProduit1 * TVA1) / 100;
			var TTCProduit1 = PTHTProduit1 + MontantTVA1;
			$('#TTCSERVICE').val(TTCProduit1.toFixed(3));

			/*****************************************************/


        });
        //******************************Fournisseur****************************
        //******************************************************************
        $(document).on("keydown", "input[data-modif=edited]", function (e) {
            var Qte = $("#NEW_QTE").val();
            Qte = parseFloat(Qte);
            var PRIX_VENTE_HT = parseFloat($('#NEW_PUHT').val());
            var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
            var Remise = $("#NEW_REMISE").val();
            Remise = parseFloat(Remise);
            var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
            var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
            $('#NEW_PTHT').text(PTHTProduit.toFixed(3));
            var TVA = $('#NEW_TVA').val();
            TVA = parseFloat(TVA);
            var MontantTVA = (PTHTProduit * TVA) / 100;
            var TTCProduit = PTHTProduit + MontantTVA;
            $('#NEW_PTCT').text(TTCProduit.toFixed(3));
        });
        $(document).on("keyup", "input[data-modif=edited]", function (e) {
            var Qte = $("#NEW_QTE").val();
            Qte = parseFloat(Qte);
            var PRIX_VENTE_HT = parseFloat($('#NEW_PUHT').val());
            var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
            var Remise = $("#NEW_REMISE").val();
            Remise = parseFloat(Remise);
            var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
            var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
            $('#NEW_PTHT').text(PTHTProduit.toFixed(3));
            var TVA = $('#NEW_TVA').val();
            TVA = parseFloat(TVA);
            var MontantTVA = (PTHTProduit * TVA) / 100;
            var TTCProduit = PTHTProduit + MontantTVA;
            $('#NEW_PTCT').text(TTCProduit.toFixed(3));
        });
            //******************************************************************
        $(document).on("click", "#Tableau tbody tr td", function (e) {
            var index = this.cellIndex;
            var html = this.innerText;
            var Parent = this.parentNode.id;
            var locked = $("#" + Parent).attr("data-locked");


            var CELL_QTE = $("#Tableau tbody tr[id=" + Parent + "] td")[7];
            var CELL_PUHT = $("#Tableau tbody tr[id=" + Parent + "] td")[8];
            var CELL_REMISE = $("#Tableau tbody tr[id=" + Parent + "] td")[9];
            var CELL_PTHT = $("#Tableau tbody tr[id=" + Parent + "] td")[10];
            var CELL_TVA = $("#Tableau tbody tr[id=" + Parent + "] td")[11];
            var CELL_PTTC = $("#Tableau tbody tr[id=" + Parent + "] td")[12];

            var TXT_QTE = $(CELL_QTE).html();
            var TXT_PUHT = $(CELL_PUHT).html();
            var TXT_REMISE = $(CELL_REMISE).html();
            var TXT_PTHT = $(CELL_PTHT).html();
            var TXT_TVA = $(CELL_TVA).html();
            var TXT_PTCT = $(CELL_PTTC).html();

            if (index == 7 && $(this).html().indexOf("number") < 0 && locked != "true") {
                $(this).html("");
                $(this).append("<input type='number' class='form-control' id='NEW_QTE' value='" + html + "' data-modif='edited'>");
                //-----------------------------------------------------------------
                $(CELL_PTHT).html("");
                $(CELL_PTHT).append("<strong id='NEW_PTHT'>" + TXT_PTHT + "</strong>");
                $(CELL_PTTC).html("");
                $(CELL_PTTC).append("<strong id='NEW_PTCT'>" + TXT_PTCT + "</strong>");
                //-----------------------------------------------------------------

                $(CELL_PUHT).html("");
                $(CELL_PUHT).append("<input type='number' class='form-control' id='NEW_PUHT' value='" + TXT_PUHT + "' data-modif='edited'>");

                $(CELL_REMISE).html("");
                $(CELL_REMISE).append("<input type='number' class='form-control' id='NEW_REMISE' value='" + TXT_REMISE + "' data-modif='edited'>");

                $(CELL_TVA).html("");
                $(CELL_TVA).append("<input type='number' class='form-control' id='NEW_TVA' value='" + TXT_TVA + "' data-modif='edited'>");
                //-----------------------------------------------------------------

                $("#BtnRow_" + Parent).attr("disabled", false);
                LockRow(Parent);
                RemplirListeNewTva();

            }
            if (index == 8 && $(this).html().indexOf("number") < 0 && locked != "true") {
                $(this).html("");
                $(this).append("<input type='number' class='form-control' id='NEW_PUHT' value='" + html + "' data-modif='edited'>");
                $(CELL_PTHT).html("");
                $(CELL_PTHT).append("<strong id='NEW_PTHT'>" + TXT_PTHT + "</strong>");
                $(CELL_PTTC).html("");
                $(CELL_PTTC).append("<strong id='NEW_PTCT'>" + TXT_PTCT + "</strong>");
                //-----------------------------------------------------------------
                $(CELL_QTE).html("");
                $(CELL_QTE).append("<input type='number' class='form-control' id='NEW_QTE' value='" + TXT_QTE + "' data-modif='edited'>");


                $(CELL_REMISE).html("");
                $(CELL_REMISE).append("<input type='number' class='form-control' id='NEW_REMISE' value='" + TXT_REMISE + "' data-modif='edited'>");

                $(CELL_TVA).html("");
                $(CELL_TVA).append("<input type='number' class='form-control' id='NEW_TVA' value='" + TXT_TVA + "' data-modif='edited'>");
                //-----------------------------------------------------------------
                $("#BtnRow_" + Parent).attr("disabled", false);
                LockRow(Parent);
                RemplirListeNewTva();

            }
            if (index == 9 && $(this).html().indexOf("number") < 0 && locked != "true") {
                $(this).html("");
                $(this).append("<input type='number' class='form-control' id='NEW_REMISE' value='" + html + "' data-modif='edited'>");
                $(CELL_PTHT).html("");
                $(CELL_PTHT).append("<strong id='NEW_PTHT'>" + TXT_PTHT + "</strong>");
                $(CELL_PTTC).html("");
                $(CELL_PTTC).append("<strong id='NEW_PTCT'>" + TXT_PTCT + "</strong>");
                //-----------------------------------------------------------------
                $(CELL_QTE).html("");
                $(CELL_QTE).append("<input type='number' class='form-control' id='NEW_QTE' value='" + TXT_QTE + "' data-modif='edited'>");


                $(CELL_PUHT).html("");
                $(CELL_PUHT).append("<input type='number' class='form-control' id='NEW_PUHT' value='" + TXT_PUHT + "' data-modif='edited'>");

                $(CELL_TVA).html("");
                $(CELL_TVA).append("<input type='number' class='form-control' id='NEW_TVA' value='" + TXT_TVA + "' data-modif='edited'>");
                //-----------------------------------------------------------------
                $("#BtnRow_" + Parent).attr("disabled", false);
                LockRow(Parent);
                RemplirListeNewTva();

            }
            if (index == 11 && $(this).html().indexOf("number") < 0 && locked != "true") {
                $(this).html("");
                $(this).append("<input type='number' class='form-control' id='NEW_TVA' value='" + html + "' data-modif='edited'>");
                $(CELL_PTHT).html("");
                $(CELL_PTHT).append("<strong id='NEW_PTHT'>" + TXT_PTHT + "</strong>");
                $(CELL_PTTC).html("");
                $(CELL_PTTC).append("<strong id='NEW_PTCT'>" + TXT_PTCT + "</strong>");
                //-----------------------------------------------------------------
                $(CELL_QTE).html("");
                $(CELL_QTE).append("<input type='number' class='form-control' id='NEW_QTE' value='" + TXT_QTE + "' data-modif='edited'>");


                $(CELL_PUHT).html("");
                $(CELL_PUHT).append("<input type='number' class='form-control' id='NEW_PUHT' value='" + TXT_PUHT + "' data-modif='edited'>");

                $(CELL_REMISE).html("");
                $(CELL_REMISE).append("<input type='number' class='form-control' id='NEW_REMISE' value='" + TXT_REMISE + "' data-modif='edited'>");
                //-----------------------------------------------------------------
                $("#BtnRow_" + Parent).attr("disabled", false);
                LockRow(Parent);
                RemplirListeNewTva();

            }
        });
        });
//***************************************************//
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
    function LockRow(parampassed) {
        $("#Tableau tbody tr").each(function (i, item) {
            if ($(this).attr("id") != parampassed) {
                $(this).attr("data-locked", true);
            }
        });
        }
        //--------------------------------------------------------------------------
        //function RemplirListeNewTva() {

        //    $('#NEW_TVA').append($('<option>', {
        //        value: "",
        //        text: ""
        //    }));


        //    $.ajax({
        //        type: 'POST',
        //        url: "/Vente/GetAllTVA",
        //        success: function (response) {
        //            $.each(response, function (i, item) {
        //                $('#NEW_TVA').append($('<option>', {
        //                    value: item.Valeur_TVA,
        //                    text: item.Valeur_TVA
        //                }));
        //            });
        //        }
        //    });
        //}
    //--------------------------------------------------------------------------
    function RemplirListe() {
        $('#articles').find('option').remove();
        $('#articles').append($('<option>', {
            value: "0",
            text: ""
        }));
        $.ajax({
            type: 'POST',
            url: "/Achat/GetAllProduct",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#articles').append($('<option>', {
                        value: item.Product_ID,
                        text: item.Designation
                    }));
                });
            }
        });
        }
        //--------------------------------------------------------------------------
        function RemplirListe2() {

            $('#TVAProduit').find('option').remove();
            $('#TVAProduit').append($('<option>', {
                value: "0",
                text: ""
            }));


            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllTVA",
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#TVAProduit').append($('<option>', {
                            value: item.Valeur_TVA,
                            text: item.Valeur_TVA
                        }));
                    });
                }
            });
        }
        //--------------------------------------------------------------------------
        function RemplirListe3() {
            $('#marque').find('option').remove();
            $('#marque').append($('<option>', {
                value: "0",
                text: ""
            }));

            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllMarque",
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#marque').append($('<option>', {
                            value: item.Nom_marque,
                            text: item.Nom_marque
                        }));
                    });
                }
            });
        }
        //------------------------------------------------------------------------------------------
        function RemplirListe4() {
            $('#unite').append($('<option>', {
                value: "",
                text: ""
            }));

            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllUnite",
                success: function (response) {

                    $.each(response, function (i, item) {
                        $('#unite').append($('<option>', {
                            value: item.Valeur_Unite,
                            text: item.Valeur_Unite

                        }));

                    });
                }
            });
        }
        //-----------------------------------------------------------------------------------------
        function RemplirListe5() {
            $('#devise').append($('<option>', {
                value: "",
                text: ""
            }));

            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllDevise",
                success: function (response) {

                    $.each(response, function (i, item) {
                        $('#devise').append($('<option>', {
                            value: item.Nom_Devise,
                            text: item.Nom_Devise

                        }));

                    });
                }
            });
        }
        //--------------------------------------------------------------------------------------

        function RemplirListe6() {
            $('#categorie').append($('<option>', {
                value: "",
                text: ""
            }));

            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllCategorie",
                success: function (response) {

                    $.each(response, function (i, item) {
                        $('#categorie').append($('<option>', {
                            value: item.CentreID,
                            text: item.Libelle

                        }));

                    });
                }
            });
        }
    //--------------------------------------------------------------------------
    @*$(document).on("change", "#articles", function (e) {
        $('#descriptionProduit').val("");
        $('#marque').val("");
        $('#unite').val("");
        $('#devise').val("");
        $('#categorie').val("");
        $('#Sous_Categorie').val("");
        $('#StockProduit').val("");
        $('#PUHTProduit').val("");
        $('#TVAProduit').val("");
        $('#PTHTProduit').val("");
        $('#TTCProduit').val("");
        $.ajax({
            type: 'POST',
            url: "/Achat/GetProductByID?ID=" + this.value,
            success: function (response) {
                 $('#descriptionProduit').val(response.Designation);
                 $('#marque').val(response.Marque);
                    // $('#marque').select() == response.Marque;
                    //$('#marque').selectable.val(response.Marque);
                    //$("#marque option:selected") = response.Marque;
                    $('#unite').val(response.Unite);
                    $('#devise').val(response.Devise);
                    $('#categorie').val(response.Categorie);
                   // $('#Sous_Categorie').val(response.Sous_CATEGORIE);
                    var selectedItemValue = $('#categorie').val();

            var ddlProducts = $("#Sous_Categorie");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetsousByCategoryId", "Achat")',
                data: { "id": selectedItemValue },
                success: function (data) {
                ddlProducts.html('');
                $.each(data, function (id, option) {
                ddlProducts.append($('<option></option>').val(option.id).html(option.name));
                });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                alert('Found error to load product!!.');
                }
                });
                $('#StockProduit').val(response.QUANTITE);
                $('#PUHTProduit').val(response.PU_HT_Sans_Remise);
                $('#TVAProduit').val(response.Valeur_TVA);
                //var Qte = $("#QuantiteProduit").val();
                //Qte = parseFloat(Qte);
                //var PRIX_VENTE_HT = parseFloat(response.PRIX_VENTE_HT);
                //var PrixTotHTSansRemise = Qte * PRIX_VENTE_HT;
                //var Remise = $("#RemiseProduit").val();
                //Remise = parseFloat(Remise);
                //var MontantRemise = (PrixTotHTSansRemise * Remise) / 100;
                //var PTHTProduit = PrixTotHTSansRemise - MontantRemise;
                $('#PTHTProduit').val(response.PU_HT_Avec_Remise);
                //var TVA = $('#TVAProduit').val();
                //TVA = parseFloat(TVA);
                //var MontantTVA = (PTHTProduit * TVA) / 100;
                //var TTCProduit = PTHTProduit + MontantTVA;
                //$('#TTCProduit').val(TTCProduit);
                $('#TTCProduit').val(response.PU_TTC);
                var MaxQuantite = $("#StockProduit").val();
                MaxQuantite = parseInt(MaxQuantite);
                if (MaxQuantite > 0) {
                    $("#QuantiteProduit").attr("max", MaxQuantite);
                }
            }
        });
        $('#FirstBTN').attr("disabled", false);
    });*@
    //--------------------------------------------------------------------------
    $('#fournisseur').on('change', function () {
        $("#codeFournisseur").val("");
        if (this.value != "") {
            $.ajax({
                type: 'POST',
                url: "/Achat/GetFournisseuryID?ID=" + this.value,
                success: function (response) {
                    $("#codeFournisseur").val(response.CODE);
                }
            });
        }
		});

		

        //--------------------------------------------------------------------------
        $(document).on("change", "#date", function (e) {
            //$('#Societes').on('change', function () {
            //$("#codeSoc").val("");
            var code = "@ViewBag.Mode";
            var num = $("#numero").val();
            if (this.value != "") {
                //$("#numero").val("zzzzz");
                $.ajax({
                    type: 'POST',
                    url: "/Achat/GetNumeroDevis?DATE=" + this.value + "&Mode=" + code + "&Num=" + num,
                    success: function (response) {
                        $("#numero").val(response.Numero1);

                        $("#date2").val(response.Date);


                    }
                });
            }
        });
    //--------------------------------------------------------------------------
    $(document).on("keyup", "#remise", function (e) {
        var remise = $("#remise").val();
        var totalHT = $("#totalHT").val();
        var totalTVA = window.totalTVA;
        totalHT = parseFloat(totalHT);
        totalTVA = parseFloat(totalTVA);
        var NewTotalTva = totalTVA - ((totalTVA * remise) / 100);
        NewTotalTva = parseFloat(NewTotalTva);
        $("#totalTVA").val(NewTotalTva.toFixed(3));
        var NetHT = totalHT - ((totalHT * remise) / 100);
        NetHT = parseFloat(NetHT);
        $("#NetHT").val(NetHT.toFixed(3));
        var TotalTTC = NetHT + NewTotalTva;
        $("#TotalTTC").val(TotalTTC.toFixed(3));
        $("#netAPaye").val(TotalTTC.toFixed(3));
    });
    //--------------------------------------------------------------------------
    function AddRow() {
        //var ID_Produit = $('#articles').val();
        var LIB_Produi = $('#articles').val();
        var Description_Produit = $('#descriptionProduit').val();
        var marque = $("#marque").val();
        var unite = $("#unite").val();
        var devise = $("#devise").val();
        var categorie = $("#categorie").val();
        var sous_categorie = $("#Sous_Categorie").val();
        var Quantite_Produit = $('#QuantiteProduit').val();
        var PUHT_Produit = $('#PUHTProduit').val();
        var Remise_Produit = $('#RemiseProduit').val();
        var PTHT_Produit = $('#PTHTProduit').val();
        var TVA_Produit = $('#TVAProduit').val();
        var TTC_Produit = $('#TTCProduit').val();
        var data = {
            //ID_Produit: ID_Produit,
            LIB_Produi: LIB_Produi,
            Description_Produit: Description_Produit,
            marque: marque,
            unite: unite,
            devise: devise,
            categorie: categorie,
            sous_categorie: sous_categorie,
            Quantite_Produit: Quantite_Produit,
            PUHT_Produit: PUHT_Produit,
            Remise_Produit: Remise_Produit,
            PTHT_Produit: PTHT_Produit,
            TVA_Produit: TVA_Produit,
            TTC_Produit: TTC_Produit
        };
        $.ajax({
            type: 'POST',
            url: "/Achat/AddLineDevis",
            data: data,
            success: function (response) {
                if (response == "NOMARQUE") { alert("veuillez remplir Marque produit") }
                if (response == "LibelleProdui") { alert("LibelleProdui") }
                if (response == "devise") { alert("veuillez remplir devise produit") }
                if (response == "unite") { alert("veuillez remplir unite produit") }
                if (response == "categorie") { alert("veuillez remplir categorie produit") }
                if (response == "Quantite_Produit") { alert("veuillez remplir Quantite_Produit produit") }
                //if (sous_categorie == "") { return "sous_categorie"; }
                if (response == "PUHT_Produit") { alert("veuillez remplir PUHT_Produit produit") }
                if (response == "Remise_Produit") { alert("veuillez remplir Remise_Produit produit") }
                if (response == "PTHT_Produit") { alert("veuillez remplir PTHT_Produit produit") }
                if (response == "TVA_Produit") { alert("veuillez remplir TVA_Produit produit") }
                if (response == "TTC_Produit") { alert("veuillez remplir TTC_Produit produit") }
                //if (response == "Description_Produit") { alert("veuillez remplir Description_Produit produit") }

                if (response != "TTC_Produit" && response != "TVA_Produit" && response != "PTHT_Produit" && response != "Remise_Produit" && response != "PUHT_Produit" && response != "Quantite_Produit" && response != "categorie" && response != "unite" && response != "devise" && response != "LibelleProdui" && response != "NOMARQUE")
                  { RemplirTableau(); }
            }
        });
    }
    //--------------------------------------------------------------------------
        function PrintRow(parampassed) {
            $.ajax({
                type: 'POST',
                url: "/Achat/CopieLigneDevis?parampassed=" + parampassed,
                success: function (response) {
                    $('#articles').val(response.LIBELLE);
                    $('#descriptionProduit').val(response.DESIGNATION);
                    $("#marque").val(response.MARQUE);
                    $("#unite").val(response.UNITE);
                    $("#devise").val(response.DEVISE);
                    $("#categorie").val(response.CATEGORIE);
                    $("#Sous_Categorie").val(response.Sous_CATEGORIE);
                    $("#quantite").val(response.QUANTITE);
                    $("#PUHTProduit").val(response.PRIX_VENTE_HT);
                    $("#RemiseProduit").val(response.REMISE);
                    $("#PTHTProduit").val(response.PTHT);
                    $("#TVAProduit").val(response.TVA);
                    $("#TTCProduit").val(response.TTC);

                }
            });
        }
                //---------------------------------------------------------------------------

        function RemplirTableau() {

        $("#Tableau tbody").empty();
        $.ajax({
            type: 'POST',
            url: "/Achat/GetAllLigneDevis",
            success: function (response) {
                $.each(response, function (i, item) {
                    var line = "<tr id='" + item.ID + "'><td>" + item.LIBELLE + "</td><td>" + item.DESIGNATION + "</td><td>" + item.MARQUE + "</td><td>" + item.UNITE + "</td><td>" + item.DEVISE + "</td><td>" + item.CATEGORIE + "</td><td>" + item.Sous_CATEGORIE + "</td><td>" + item.QUANTITE + "</td><td>" + item.PRIX_VENTE_HT + "</td><td>" + item.REMISE + "</td><td>" + item.PTHT + "</td><td>" + item.TVA + "</td><td>" + item.TTC + "</td><td style='display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;'> <button class='btn btn-info btn-circle' type='button' onclick='EditRow(\"" + item.ID + "\")' disabled id='BtnRow_" + item.ID + "'> <i class='fa fa-check'></i> </button> <button class='btn btn-warning btn-circle' type='button' onclick='DeleteRow(\"" + item.ID + "\")'> <i class='fa fa-times'></i> </button> <button class='btn btn-warning btn-circle' type='button' onclick='PrintRow(\"" + item.ID + "\")'><i class='fa fa-print'></i></button> </td></tr>";
                    $("#Tableau tbody").append(line);
                });
                $("#Tableau tfoot").replaceWith("<tfoot> <tr> <td><input type='text' class='form-control' id='articles'> </td> <td><textarea name='descriptionProduit' id='descriptionProduit'></textarea ></td><td> <input class='form-control' id='marque'/> </td><td> <input class='form-control' id='unite' value='U'/></td><td> <input class='form-control' id='devise' value='TND' /> </td><td> <input class='form-control' id='categorie'/> </td><td> <input class='form-control' name='Sous_Categorie' id='Sous_Categorie'/></td> <td> <input type='number' class='form-control' id='QuantiteProduit' value='1' min='1'/> </td> <td> <input type='number' class='form-control' id='PUHTProduit' min='0' value='0' /> </td> <td> <input type='number' class='form-control' id='RemiseProduit' value='0' min='0' /> </td> <td> <input type='number' class='form-control' id='PTHTProduit' readonly='true' value='0'  /> </td> <td> <input class='form-control' id='TVAProduit' value='19'/></td> <td> <input type='number' class='form-control' id='TTCProduit' readonly='true' value='0'  /> </td> <td style='display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;'> <button class='btn btn-info btn-circle' type='button' onclick='AddRow()'> <i class='fa fa-check'></i> </button> <button class='btn btn-warning btn-circle' type='button' disabled> <i class='fa fa-times'></i> </button></td> </tr> </tfoot>");
                $("#articles").focus();
                var MaxQuantite = $("#StockProduit").val();
                MaxQuantite = parseInt(MaxQuantite);
                if (MaxQuantite > 0) {
                    $("#QuantiteProduit").attr("max", MaxQuantite);
                }
                autocomplete();
                autocomplete2();
                autocomplete3();
                autocomplete4();
                autocomplete5();
                autocomplete6();
                //autocomplete2();
                //RemplirListe();
                RemplirListe2();
                RemplirListe3();
                RemplirListe4();
                RemplirListe5();
                RemplirListe6();

            }
        });
        UpdatePrice();
        }
        //---------------------------------------------------------------------------
        function RemplirTableau1() {

            $("#Tableau tbody").empty();
            $.ajax({
                type: 'POST',
                url: "/Achat/GetAllLigneDevis",
                success: function (response) {
                    $.each(response, function (i, item) {

                        var line = "<tr><td id='" + item.ID + "'>" + item.LIBELLE + "</td><td>" + item.DESIGNATION + "</td><td>" + item.MARQUE + "</td><td>" + item.UNITE + "</td><td>" + item.DEVISE + "</td><td>" + item.CATEGORIE + "</td><td>" + item.Sous_CATEGORIE + "</td><td>" + item.QUANTITE + "</td><td>" + item.PRIX_VENTE_HT + "</td><td>" + item.REMISE + "</td><td>" + item.PTHT + "</td><td>" + item.TVA + "</td><td>" + item.TTC + "</td><td style='display: flex; border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;'> <button class='btn btn-info btn-circle' type='button' onclick='EditRow(\"" + item.ID + "\")' disabled id='BtnRow_" + item.ID + "'> <i class='fa fa-check'></i> </button> <button class='btn btn-warning btn-circle' type='button' onclick='DeleteRow(\"" + item.ID + "\")'> <i class='fa fa-times'></i> </button> <button class='btn btn-warning btn-circle' type='button' onclick='PrintRow(\"" + item.ID + "\")'><i class='fa fa-print'></i></button> </td></tr>";
                        $("#Tableau tbody").append(line);
                    });
                    $("#Tableau tfoot").empty();
                    var MaxQuantite = $("#StockProduit").val();
                    MaxQuantite = parseInt(MaxQuantite);
                    if (MaxQuantite > 0) {
                        $("#QuantiteProduit").attr("max", MaxQuantite);
                    }
                    autocomplete();
                    autocomplete2();
                    autocomplete3();
                    autocomplete4();
                    autocomplete5();
                    autocomplete6();
                    RemplirListe2();
                    RemplirListe3();
                    RemplirListe4();
                    RemplirListe5();
                    RemplirListe6();
                }
            });
        }
    //---------------------------------------------------------------------------
    function EditRow(parampassed) {
        var ID_Produit = parampassed;
        var Quantite_Produit = $('#NEW_QTE').val();
        var PUHT_Produit = $('#NEW_PUHT').val();
        var Remise_Produit = $('#NEW_REMISE').val();
        var PTHT_Produit = $('#NEW_PTHT').text();
        var TVA_Produit = $('#NEW_TVA').val();
        var TTC_Produit = $('#NEW_PTCT').text();
        var data = {
            ID_Produit: ID_Produit,
            Quantite_Produit: Quantite_Produit,
            PUHT_Produit: PUHT_Produit,
            Remise_Produit: Remise_Produit,
            PTHT_Produit: PTHT_Produit,
            TVA_Produit: TVA_Produit,
            TTC_Produit: TTC_Produit
        };
        $.ajax({
            type: 'POST',
            data: data,
            url: "/Achat/EditLigneDevis",
            success: function (response) {
                RemplirTableau();
            }
        });
    }
    //---------------------------------------------------------------------------
    function DeleteRow(parampassed) {
        $.ajax({
            type: 'POST',
            url: "/Achat/DeleteLineDevis?parampassed=" + parampassed,
            success: function (response) {
                RemplirTableau();
            }
        });
		}

	/*************************************************************** */

		function DeleteRow2(parampassed) {
			$.ajax({
				type: 'POST',
				url: "/Achat/DeleteLineService?parampassed=" + parampassed,
				success: function (response) {
					RemplirTableau4();
				}
			});
		}
    //---------------------------------------------------------------------------
    function UpdatePrice() {
        var remise = $("#remise").val();
        $.ajax({
            type: 'POST',
            url: "/Achat/UpdatePriceDevis?remise=" + remise,
            success: function (response) {
                var totalHT = response.totalHT;
				var totalTVA = response.totalTVA;
				var totalHTSERV = response.totalHTSERV;
				var totalTVASERV = response.totalTVASERV;
				var totalHTp = response.totalHTp;
				var totalTVAp = response.totalTVAp;
                window.totalTVA = totalTVA;
                totalHT = parseFloat(totalHT);
                totalTVA = parseFloat(totalTVA);
                $("#totalHT").val(totalHT.toFixed(3));
                remise = parseFloat(remise);
                //alert(remise);
                var NewTotalTva = totalTVA - ((totalTVA * remise) / 100);
                //alert(NewTotalTva);
                NewTotalTva = parseFloat(NewTotalTva);
                $("#totalTVA").val(NewTotalTva.toFixed(3));
                var NetHT = totalHT - ((totalHT * remise) / 100);
                NetHT = parseFloat(NetHT);
                $("#NetHT").val(NetHT);
                var TotalTTC = NetHT + NewTotalTva;
                $("#TotalTTC").val(TotalTTC.toFixed(3));
				$("#netAPaye").val(TotalTTC.toFixed(3));
				/***********/

				var NEWtotalTVASERV = totalTVASERV - ((totalTVASERV * remise) / 100);
				
				NEWtotalTVASERV = parseFloat(NEWtotalTVASERV);

				var NettotalHTSERV = totalHTSERV - ((totalHTSERV * remise) / 100);
				NettotalHTSERV = parseFloat(NettotalHTSERV);

				var NettotalTTCSERV = NEWtotalTVASERV + NettotalHTSERV;
				
				$("#NettotalTTCSERV").val(NettotalTTCSERV.toFixed(3));


            }
        });
    }
    //---------------------------------------------------------------------------
    $("#PrintBTN").click(function () {
        $("#WithPrint").val("true");
        $("form").attr("target", "_blank");
        $("form").submit();
        $("#WithPrint").val("false");
        $("form").attr("target", "_self");
    });
    //---------------------------------------------------------------------------
    $("#DeleteBtn").click(function () {
        Delete();
    });
		function Delete()
		{
        var parampassed = "@ViewBag.Code";
        swal({
            title: "Voulez vous Supprimer cet elément ?",
            text: "Attention : cette action est irréversible ! Voulez-vous continuer ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui, continuer!",
            cancelButtonText: "Non, annuler SVP!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: 'POST',
                        url: "/Achat/DeleteCommande?parampassed=" + parampassed,
                        success: function (response) {
                            swal("Supprimer!", "Votre commande fournisseur est supprimer avec succés.", "success");
                            setTimeout(function () {
                                window.location.href = "/Achat/Commandes";
                            }, 3500);
                        }
                    });

                } else {
                    swal("Annuler", "La suppression est annulée :)", "error");
                }
            });


        var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
        $(this)
               .ajaxStart(function () {
                   preloader.fadeIn();
               })
               .ajaxStop(function () {
                   preloader.delay(800).fadeOut();
               });
    }
    //---------------------------------------------------------------------------
    $('form').validate({
        rules: {
            fournisseur: {
                required: true
            }
        }
        });
    //---------------------------------------------------------------------------
    $("#VersCommande").click(function () {
        VersCommande();
        });
        $('.demo4').click(function () {
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    } else {
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                });
        });

    function VersCommande() {

        var parampassed = "@ViewBag.Code";
        swal({
            title: "Voulez vous transformer ce devis en commande fournisseur ?",
            text: "Attention : cette action est irréversible ! Voulez-vous continuer ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui, continuer!",
            cancelButtonText: "Non, annuler SVP!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
                function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            type: 'POST',
                            url: "/Achat/DevisVersCommande?parampassed=" + parampassed,
                            success: function (response) {
                                swal("Transformer!", "Votre commande fournisseur est créée avec succés.", "success");
                                    setTimeout(function () {
                                    window.location.href = "/Achat/FormCommande?Mode=Edit&Code=" + response;
                                }, 3500);
                            }
                        });

                    } else {
                        swal("Annuler", "Votre commande Fournisseur est annulée :)", "error");
                    }
                });
        //});

        //var Conf = confirm("Voulez vous transformer ce devis en commande fournisseur ?");
        //if (Conf == true) {
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Achat/DevisVersCommande?parampassed=" + parampassed,
        //        success: function (response) {
        //            window.location.href = "/Achat/FormCommande?Mode=Edit&Code=" + response;
        //        }
        //    });
        //}
        var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
        $(this)
               .ajaxStart(function () {
                   preloader.fadeIn();
               })
               .ajaxStop(function () {
                   preloader.delay(1500).fadeOut();
               });
    }
    //---------------------------------------------------------------------------
    $("#VersBonReception").click(function () {
        VersBonReception();
    });
    function VersBonReception() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous transformer cette commande en bon de reception ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Achat/CommandeVersBonReception?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Achat/FormBonReception?Mode=Edit&Code=" + response;
                }
            });
        }
        var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
        $(this)
               .ajaxStart(function () {
                   preloader.fadeIn();
               })
               .ajaxStop(function () {
                   preloader.delay(800).fadeOut();
               });
    }
    //--------------------------------------------------------------------------------
    $("#VersDevis").click(function () {
        VersDevis();
    });
        function VersDevis() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous transformer cette Devis fournisseur en Devis Client ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/DevisFrsVersDevisClt?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/FormDevis?Mode=Edit&Code=" + response;
                }
            });
        }
        var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
        $(this)
               .ajaxStart(function () {
                   preloader.fadeIn();
               })
               .ajaxStop(function () {
                   preloader.delay(800).fadeOut();
               });
    }
	</script>

	<script>
        function update_frs() {
            
         var mode = "@ViewBag.Mode";
        var code = "@ViewBag.Code";
            var Date = $("#date").val();
            var Date2 = $("#date2").val();

     var numero = $("#numero").val();
     var designation = $("#designation").val();
            var modePaiement = $("#modePaiement").val();
			var client = $("#fournisseur option:selected").text();
			
            var codeClient = $("#codeFournisseur").val();
     var Tiers =  $("#tiers option:selected").text();
			var remise = $("#remise").val();
		
        $.ajax({
            type: 'POST',

            url: "/Achat/AddFournisseur?Code=" + CODE.value + "&NOM=" + NOM.value + "&Adresse=" + ADRESSE.value + "&TELEPHONE=" + TELEPHONE.value + "&FAX=" + FAX.value + "&EMAIL=" + EMAIL.value + "&SITE_WEB=" + SITE_WEB.value + "&ID_FISCAL=" + ID_FISCAL.value + "&RC=" + RC.value + "&RIB=" + RIB.value + "&CONTACT=" + CONTACT.value,
            success: function (response) {

                $("#Code").val("");
                $("#NOM").val("");
                $("#ADRESSE").val("");
                $("#TELEPHONE").val("");
                $("#FAX").val("");
                $("#EMAIL").val("");
                $("#RIB").val("");
                $("#RC").val("");
                $("#NIS").val("");
                $("#CONTACT").val("");
                $("#AI").val("");
               // $("#ID_FISCAL").val("");
                $("#SITE_WEB").val("");

				window.location.href = "/Achat/FormDevis?Mode=" + mode + "&Code=" + code + "&Date=" + Date + "&Date2=" + Date2 + "&numero=" + numero + "&designation=" + designation + "&modePaiement=" + modePaiement + "&client=" + client + "&codeClient=" + codeClient + "&remise=" + remise ;
            }
        });
		}
	
	</script>
	

}
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}
