@model Inspinia_MVC5.Models.Tiers

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tiers</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(model => model.SociID, "SociID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SociID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SociID, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.TEL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TEL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TEL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FAX, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FAX, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FAX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NOM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NOM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NOM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ADRESSE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ADRESSE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ADRESSE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MAIL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAIL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SITE_WEB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SITE_WEB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SITE_WEB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_FISCAL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID_FISCAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID_FISCAL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NIS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NIS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NIS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RC, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RIB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RIB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RIB, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Clt, "Clt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Clt", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Clt, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.frs, "frs", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("frs", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.frs, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" class="btn btn-primary" onclick="update_clients2()" />
            @Html.ActionLink("Cancel", "FormDevis", null, new { @class = "btn btn-white" })
        </div>
    </div>
</div>
}

<script>
    function update_clients2() {
        debugger;
        $.ajax({
            type: 'POST',

            url: "/Achat/AddTiers?NOM=" + NOM.value + "&Adresse=" + ADRESSE.value + "&TEL=" + TEL.value + "&FAX=" + FAX.value + "&MAIL=" + MAIL.value + "&SITE_WEB=" + SITE_WEB.value + "&ID_FISCAL=" + ID_FISCAL.value + "&AI=" + AI.value + "&NIS=" + NIS.value + "&RC=" + RC.value + "&RIB=" + RIB.value + "&frs=" + frs.value,
            success: function (response) {

                $("#NOM").val("");
                $("#ADRESSE").val("");
                $("#TEL").val(0);
                $("#FAX").val(0);
                $("#EMAIL").val("");
                $("#RIB").val("");
                $("#RC").val("");
                $("#NIS").val("");
                $("#AI").val("");
                $("#ID_FISCAL").val("");
                $("#SITE_WEB").val("");
                $("#frs").val("");

                window.location.href = "FormDevis";
            }
        });
    }
</script>