@model Inspinia_MVC5.Models.Direction

@{
    ViewBag.Title = "Create";
}

@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>*@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Direction</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)



                            <div class="form-group">
                                @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nom)
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Budget, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Budget)
                                    @Html.ValidationMessageFor(model => model.Budget)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Année, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="An" id="An" Value="" required />

                                </div>
                            </div>
                            @{ 
                                var socite = Session["Soclogo"].ToString();
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.SCoorID, "Société", new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @*@Html.EditorFor(model => model.SCoorID, new { htmlAttributes = new { @readonly = "", @class = "form-control", Value = @socite } })
                                    @Html.ValidationMessageFor(model => model.SCoorID)*@
                                    <input class="form-control" type="text" name="Ste" id="Ste" Value="@socite" readonly />

                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" value="Create" class="btn btn-primary" onclick="update_clients2();"/>
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
<script>
    function update_clients2() {
        debugger;
        var Ste = $("#Ste").val();
        var Nom = $("#Nom").val();
        var Budget = $("#Budget").val();
        var An = $("#An").val();
        var id = "@ViewBag.id";
        $.ajax({
            type: 'POST',
            url: "/Inscriptions/SendDirection?Nom=" + Nom + "&Budget=" + Budget + "&An=" + An + "&Ste=" + Ste + "&id=" + id,
            success: function (response) {

                $("#Nom").val("");
                $("#Budget").val("");
                $("#Année").val("");
                $("#Ste").val("");
               
                window.location.href = "/Inscriptions/Edit?id=" + id;
            }
        });
    }
</script>



