<link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/Content/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/Content/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<style type="text/css">

    .divScroll {
        overflow: auto;
        /*height: 200px;*/
        /*width: 800px;*/
    }

</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>
            BONS LIVRAISONS
        </h2>
        <ol class="breadcrumb">
            <li><a>Vente</a> </li>
            <li class="active"><strong>BONS LIVRAISONS</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding-top: 4px;">
                    <h5 style="padding-top: 10px;">
                        Liste des bons livraisons clients
                    </h5>
                    <div class="ibox-tools">
                        <button class="btn btn-success " type="button" onclick="location.href='@Url.Action("FormBonLivraison", "Vente", new { Mode = "Create", Code = "-1"}, null)'">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;<span class="bold">Ajouter</span>
                        </button>
                        <button class="btn btn-primary " type="button" id="PrintBtn">
                            <i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;<span class="bold">Imprimer</span>
                        </button>
                    </div>
                </div>
                <div class="divScroll">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" id="listeAnnee">
                                    <li class="active"><a data-toggle="tab" href="#tab-1">all</a></li>
                                    @{
                                        Inspinia_MVC5.Models.MED_TRABELSI db = new Inspinia_MVC5.Models.MED_TRABELSI();
                                        List<Inspinia_MVC5.Models.Exercice> Exercice = db.Exercice.ToList();
                                        foreach (Inspinia_MVC5.Models.Exercice Ex in Exercice)
                                        {
                                            <li class=""><a data-toggle="tab" href="#@Ex.Annee">@Ex.Annee</a></li>
                                        }
                                    }
                                </ul>
                                <div class="tab-content" id="exercice">
                                    <div id="tab-1" class="tab-pane active">

                                        <div class="panel-body">
                                            <table cellpadding="1" cellspacing="0" border="0" style="width: 50%; margin: 0 auto 2em auto;">
                                                <thead>
                                                    <tr>
                                                        <th><center>Search</center></th>
                                                        <th><center>Search text</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr id="filter_col2" data-column="1">
                                                        <td align="center">N°</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col1_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col3" data-column="2">
                                                        <td align="center">Date</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col2_filter"></td>
                                                    </tr>
                                                    @*<tr id="filter_col4" data-column="3">
                                                        <td align="center">DATE</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col3_filter"></td>
                                                    </tr>*@
                                                    <tr id="filter_col3" data-column="3">
                                                        <td align="center">Client</td>
                                                        <td align="center">
                                                            <select class="column_filter" id="col3_filter" style="width:154px; height:24px;"></select>
                                                        </td>
                                                    </tr>

                                                    <tr id="filter_col4" data-column="4">
                                                        <td align="center">VALIDEE</td>
                                                        <td align="center">
                                                            <select class="column_filter" id="col4_filter" style="width:154px; height:24px;">
                                                                <option value=""></option>
                                                                <option value="VALIDÉE">VALIDÉE</option>
                                                                <option value="NON VALIDEE">NON VALIDEE	</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr id="filter_col6" data-column="5">
                                                        <td align="center">PHT</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col5_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col7" data-column="6">
                                                        <td align="center">TTVA</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col6_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col8" data-column="7">
                                                        <td align="center">PTTC</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col7_filter"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered table-hover dataTables-example" cellspacing="0" width="100%"
                                                   id="Tableau">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" />
                                                        </th>
                                                        <th>
                                                            N°
                                                        </th>

                                                        <th>
                                                            DATE
                                                        </th>
                                                        <th>
                                                            Client
                                                        </th>
                                                        <th>
                                                            VALIDEE
                                                        </th>
                                                        <th>
                                                            PHT
                                                        </th>
                                                        <th>
                                                            TTVA
                                                        </th>
                                                        <th>
                                                            PTTC
                                                        </th>

                                                        <th>
                                                            Type
                                                        </th>
                                                        <th>

                                                        </th>
                                                        <th>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (dynamic item in Model)
                                                    {
                                                    <tr id="@item.ID">
                                                        <td>
                                                            @if (item.VALIDE == false)
                                                            {
                                                                <input type="checkbox" class="chkCheckboxId btn btn-primary btn-xs" name="affComId" value="@item.ID" disabled />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="chkCheckboxId btn btn-primary btn-xs" name="affComId" value="@item.ID" onchange="check(this)" />

                                                            }

                                                        </td>
                                                        <td>
                                                            @item.CODE
                                                        </td>
                                                        @*<td>
            @item.CODEBL
        </td>*@
                                                        <td>
                                                            @item.DATE
                                                        </td>
                                                        <td>
                                                            @item.FOURNISSEUR
                                                        </td>
                                                        <td>
                                                            @if (item.VALIDE == true)
                                                            {
                                                                <span class="label label-primary">VALIDÉE</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-warning-light">NON VALIDEE</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @item.THT
                                                        </td>
                                                        <td>
                                                            @item.TTVA
                                                        </td>
                                                        <td>
                                                            @item.TTC
                                                        </td>
                                                        <td>
                                                            @if (item.Type == true)
                                                            {
                                                                <span class="label label-primary">Totale</span>

                                                            }
                                                            else
                                                            {
                                                                <span class="label label-warning-light">Partiel</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (item.Type == false)
                                                            {
                                                                <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="location.href='@Url.Action("BonLivraisonPartiel", "Vente", new { id = item.ID}, null)'">
                                                                    afficher les Bl Partiels
                                                                </button>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (item.VALIDE == true)
                                                            {
                                                                <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);" disabled>
                                                                    <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                </button>

                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);">
                                                                    <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                </button>

                                                            }
                                                            @if (item.cc != null)
                                                            {
                                                                <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);" disabled>
                                                                    <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);">
                                                                    <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                </button>
                                                            }


                                                            <button class="btn btn-warning  dim" type="button" style="width : 40px" onclick="Btn_Aff_click(@item.ID);">
                                                                <i class="fa fa-eye"></i>
                                                            </button>

                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>

                                    @{
                                        int idste = (int)Session["SoclogoId"];
                                        Inspinia_MVC5.Models.MED_TRABELSI db1 = new Inspinia_MVC5.Models.MED_TRABELSI();
                                        List<Inspinia_MVC5.Models.Exercice> Exercice1 = db1.Exercice.ToList();
                                        List<Inspinia_MVC5.Models.BONS_LIVRAISONS_CLIENTS> FACTURES_FOURNISSEURS1 = db1.BONS_LIVRAISONS_CLIENTS.Where(f => f.Societes == idste).ToList();

                                        foreach (Inspinia_MVC5.Models.Exercice Ex1 in Exercice1)
                                        {
                                            List<Inspinia_MVC5.Models.BONS_LIVRAISONS_CLIENTS> FACTURES_FOURNISSEURS = new List<Inspinia_MVC5.Models.BONS_LIVRAISONS_CLIENTS>();
                                            decimal tht = 0;
                                            decimal ttva = 0;
                                            decimal tttc = 0;

                                            string exan = (Ex1.Annee).ToString();
                                            foreach (Inspinia_MVC5.Models.BONS_LIVRAISONS_CLIENTS ligne in FACTURES_FOURNISSEURS1)
                                            {
                                                string an = ligne.DATE.ToString("yyyy");
                                                if (exan == an)
                                                {
                                                    FACTURES_FOURNISSEURS.Add(ligne);
                                                    tht += (decimal)(ligne.THT);
                                                    ttva += (decimal)(ligne.TTVA);
                                                    tttc += (decimal)(ligne.TTC);

                                                }

                                            }


                                            <div id="@Ex1.Annee" class="tab-pane">

                                                <div class="panel-body">
                                                    <table cellpadding="1" cellspacing="0" border="0" style="width: 50%; margin: 0 auto 2em auto;">
                                                        <thead>
                                                            <tr>
                                                                <th><center>Search</center></th>
                                                                <th><center>Search text</center></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @{
                                                                var NUM1 = "NUM" + Ex1.Annee;
                                                                var NUM2 = "NUM" + Ex1.Annee + "N";
                                                            }
                                                            <tr id="filter_col1" data-column="@NUM1">
                                                                <td align="center">N°</td>
                                                                <td align="center"><input type="text" class="column_filter0" id="@NUM2"></td>
                                                            </tr>
                                                            @{
                                                                var DATE1 = "DATE" + Ex1.Annee;
                                                                var DATE2 = "DATE" + Ex1.Annee + "D";
                                                            }
                                                            <tr id="filter_col2" data-column="@DATE1">
                                                                <td align="center">DATE</td>
                                                                <td align="center"><input type="text" class="column_filter1" id="@DATE2"></td>
                                                            </tr>
                                                            @{
                                                                var FRS1 = "FRS" + Ex1.Annee;
                                                                var FRS2 = "FRS" + Ex1.Annee + "F";
                                                            }
                                                            <tr id="filter_col4" data-column="@FRS1">
                                                                <td align="center">Client</td>
                                                                <td align="center">
                                                                    <select class="column_filter2" id="@FRS2" style="width:154px; height:24px;"></select>
                                                                </td>
                                                            </tr>

                                                            @{
                                                                var val1 = "val" + Ex1.Annee;
                                                                var val2 = "val" + Ex1.Annee + "V";

                                                            }
                                                            <tr id="filter_col4" data-column="@val1">
                                                                <td align="center">VALIDEE</td>
                                                                <td align="center">
                                                                    <select class="column_filter1" id="@val2" style="width:154px; height:24px;">
                                                                        <option value=""></option>
                                                                        <option value="VALIDÉE">VALIDÉE</option>
                                                                        <option value="NON VALIDEE">NON VALIDEE </option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            @{
                                                                var PHT1 = "PHT" + Ex1.Annee;
                                                                var PHT2 = "PHT" + Ex1.Annee + "HT";
                                                            }
                                                            <tr id="filter_col5" data-column="@PHT1">
                                                                <td align="center">PHT</td>
                                                                <td align="center"><input type="text" class="column_filter4" id="@PHT2"></td>
                                                            </tr>
                                                            @{
                                                                var TTVA1 = "TTVA" + Ex1.Annee;
                                                                var TTVA2 = "TTVA" + Ex1.Annee + "TV";
                                                            }
                                                            <tr id="filter_col7" data-column="@TTVA1">
                                                                <td align="center">TTVA</td>
                                                                <td align="center"><input type="text" class="column_filter5" id="@TTVA2"></td>
                                                            </tr>
                                                            @{
                                                                var TTC1 = "TTC" + Ex1.Annee;
                                                                var TTC2 = "TTC" + Ex1.Annee + "TC";
                                                            }
                                                            <tr id="filter_col8" data-column="@TTC1">
                                                                <td align="center">PTTC</td>
                                                                <td align="center"><input type="text" class="column_filter6" id="@TTC2"></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    @{
                                                        var idtab = "tab" + Ex1.Annee;
                                                    }
                                                    <table class="table table-striped table-bordered table-hover dataTables-example" cellspacing="0" width="100%" id="@idtab">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" />
                                                                </th>
                                                                <th>
                                                                    N°
                                                                </th>
                                                                @*<th>N°BL FRS</th>*@
                                                                <th>
                                                                    DATE
                                                                </th>
                                                                <th>
                                                                    Client
                                                                </th>
                                                                <th>
                                                                    VALIDEE
                                                                </th>
                                                                <th>
                                                                    PHT
                                                                </th>
                                                                <th>
                                                                    TTVA
                                                                </th>
                                                                <th>
                                                                    PTTC
                                                                </th>
                                                                <th>
                                                                    Type
                                                                </th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in FACTURES_FOURNISSEURS)
                                                            {
                                                            <tr id="@item.ID">
                                                                <td>
                                                                    @if (item.VALIDER == false)
                                                                    {
                                                                        <input type="checkbox" class="chkCheckboxId btn btn-primary btn-xs" name="affComId" value="@item.ID" disabled />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" class="chkCheckboxId btn btn-primary btn-xs" name="affComId" value="@item.ID" onchange="check(this)" />

                                                                    }

                                                                </td>
                                                                <td>
                                                                    @item.CODE
                                                                </td>
                                                                @*<td>
            @item.Num_Bl
        </td>*@
                                                                <td>
                                                                    @item.DATE
                                                                </td>
                                                                <td>
                                                                    @item.CLIENTS.NOM
                                                                </td>

                                                                <td>
                                                                    @if (item.VALIDER == true)
                                                                    {
                                                                        <span class="label label-primary">VALIDÉE</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="label label-warning">NON VALIDEE</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @item.THT
                                                                </td>
                                                                <td>
                                                                    @item.TTVA
                                                                </td>
                                                                <td>
                                                                    @item.TTC
                                                                </td>
                                                                <td>
                                                                    @if (item.Type == true)
                                                                    {
                                                                        <span class="label label-primary">Totale</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="label label-primary">Partiel</span>

                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (item.Type == false)
                                                                    {
                                                                        <button class="btn btn-primary dim" type="button" style="width : 40px"  onclick="location.href='@Url.Action("BonLivraisonPartiel", "Vente", new { id = item.ID}, null)'">
                                                                            afficher les Bl Partiels
                                                                        </button>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if ((item.VALIDER == true))
                                                                    {
                                                                        <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);" disabled>
                                                                            <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                        </button>

                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);">
                                                                            <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                        </button>

                                                                    }
                                                                    @{
                                                                        int idd = item.ID;
                                                                        Inspinia_MVC5.Models.MED_TRABELSI db2 = new Inspinia_MVC5.Models.MED_TRABELSI();
                                                                        Inspinia_MVC5.Models.FACTURES_CLIENTS FACTURES_CLIENTS = db2.FACTURES_CLIENTS.Where(f => f.BON_LIVRAISON_CLIENT == idd).FirstOrDefault();

                                                                    }
                                                                    @if (FACTURES_CLIENTS != null)
                                                                    {
                                                                        <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);" disabled>
                                                                            <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);">
                                                                            <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                        </button>
                                                                    }

                                                                    <button class="btn btn-warning  dim" type="button" style="width : 40px" onclick="Btn_Aff_click(@item.ID);">
                                                                        <i class="fa fa-eye"></i>
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5" style="text-align:right">Total:</th>
                                                                @for (int i = 0; i < 5; i++)
                                                                {
                                                                    <th></th>
                                                                }
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>
                                        }
                                    }
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                @*<div class="divScroll">
                            <table class="table table-striped table-bordered table-hover dataTables-example"
                                   id="Tableau">
                                <thead>
                                    <tr>
                                        <th>
                                            N°
                                        </th>
                                        <th>
                                            DATE
                                        </th>
                                        <th>
                                            CLIENT
                                        </th>
                                        <th>
                                            VALIDEE
                                        </th>
                                        <th>
                                            PHT
                                        </th>
                                        <th>
                                            TTVA
                                        </th>
                                        <th>
                                            TTC
                                        </th>

                                        <th>
                                            Type
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (dynamic item in Model)
                        {
                            <tr id="@item.ID">
                                <td>
                                    @item.CODE
                                </td>
                                <td>
                                    @item.DATE
                                </td>
                                <td>
                                    @item.FOURNISSEUR
                                </td>
                                <td>
                                    @if (item.VALIDE == true)
                        {
                            <span class="label label-primary">VALIDEE</span>
            }
            else
            {
                    <span class="label label-warning-light">NON VALIDEE</span>
        }
                                </td>
                                <td>
                                    @item.THT
                                </td>
                                <td>
                                    @item.TTVA
                                </td>
                                <td>
                                    @item.TTC
                                </td>

                                <td>
                                    @if (item.Type == true)
                        {
                            <span class="label label-primary">Totale</span>
            }
            else
            {
                    <span class="label label-warning-light">Partiel</span>
        }
                                </td>
                                <td>
                                    @if (item.Type == false)
                        {
                            @Html.ActionLink("Afficher B.l.Partiel", "BonLivraisonPartiel", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
            }
                                </td>

                                <td>
                                    @if ((item.cc != null)&&(item.VALIDE == true))
                                    {

                                        <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);" disabled>
                                            <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                        </button>

                                        <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);" disabled>
                                            <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);">
                                            <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                        </button>

                                        <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);">
                                            <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                        </button>
                                    }

                                    <button class="btn btn-warning  dim" type="button" style="width : 40px" onclick="Btn_Aff_click(@item.ID);">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                </td>

                            </tr>
            }
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>*@
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">

        var table = $('#Tableau').DataTable();

    $('#Tableau tbody').on('contextmenu', 'tr', function (event) {
        if (event.button == 2) {
            window.myValue = $(this).attr('id');
            event.preventDefault();
            var Width = $("#Navigation").width();

            $(".custom-menu").finish().toggle(100).css({
                top: event.pageY + "px",
                left: (event.pageX) - Width + "px"
            });
        }
    });
    $(document).bind("mousedown", function (e) {
        if (!$(e.target).parents(".custom-menu").length > 0) {
            $(".custom-menu").hide(100);
        }
    });
    $(".custom-menu li").click(function () {
        var MyValue = window.myValue;
        switch ($(this).attr("data-action")) {
            case "Edit": Btn_Edit_click(MyValue); break;
            case "Delete": Btn_Delete_click(MyValue); break;
            case "Aff": Btn_Aff_click(MyValue); break;

        }
        $(".custom-menu").hide(100);
    });
    $("#PrintBtn").click(function () {
        window.open("/Vente/PrintAllBonLivraisonClient", '_blank');
    });
        function Btn_Edit_click(MyValue) {
            $.ajax({
                type: 'POST',
                url: "/Vente/verifieValiditeBl?id=" + MyValue,
                success: function (response) {
                    if (response == "NO") {

                        window.open("/Vente/FormBonLivraison?Mode=Edit&Code=" + MyValue);
                            }
                        
                    else {
                        window.location.href = window.location.href;
                        alert("Bon de livraison validée");
                    }
                }
            });
        }

        function Btn_Aff_click(MyValue) {
            debugger;
            $.ajax({
                type: 'POST',
                url: "/Vente/verifieValiditeBl?id=" + MyValue,
                success: function (response) {
                    if (response == "NO") {
                        window.location.href = window.location.href;
                        alert("Bon de livraison pas encore validée");
                    }
                    else {
                        window.open("/Vente/FormBonLivraison?Mode=Aff&Code=" + MyValue);
                    }
                }

            });
        }
        function Delete(MyValue) {
            var Conf = confirm("Voulez vous Supprimer cet elément ?");
            if (Conf == true) {
                $.ajax({
                    type: 'POST',
                    url: "/Vente/DeleteBonLaivraison?parampassed=" + MyValue,
                    success: function (response) {
                        window.location = "/Vente/Commandes";
                    }
                });
            }
            var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
            $(this)
                .ajaxStart(function () {
                    preloader.fadeIn();
                })
                .ajaxStop(function () {
                    preloader.delay(800).fadeOut();
                });
        }
        function filterGlobal() {
            $('#Tableau').DataTable().search(
                $('#global_filter').val(),

            ).draw();
        }
        function filterColumn0(i) {

            var iii = i + "N";

            var ii = i.replace("NUM", "");

            var tab = "tab" + ii;

            $('#' + tab + '').DataTable().column(1).search(
                $('#' + iii + '').val(),
            ).draw();

        }
        function filterColumn1(i) {

            var iii = i + "V";

            var ii = i.replace("val", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(4).search(
                $('#' + iii + '').val(),
            ).draw();

        }
        function filterColumn2(i) {
            var iii = i + "F";
            var ii = i.replace("FRS", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(3).search(
                $('#' + iii + '').val(),
            ).draw();
        }
        function filterColumn11(i) {
            var iii = i + "D";
            var ii = i.replace("DATE", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(2).search(
                $('#' + iii + '').val(),
            ).draw();
        }
        //function filterColumn22(i) {
        //    var iii = i + "NF";
        //    var ii = i.replace("NUMFACT", "");
        //    var tab = "tab" + ii;
        //    $('#' + tab + '').DataTable().column(3).search(
        //        $('#' + iii + '').val(),
        //    ).draw();
        //}
        function filterColumn33(i) {
            var iii = i + "HT";
            var ii = i.replace("THT", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(5).search(
                $('#' + iii + '').val(),
            ).draw();
        }
        function filterColumn44(i) {
            var iii = i + "TV";
            var ii = i.replace("TTVA", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(6).search(
                $('#' + iii + '').val(),
            ).draw();
        }
        function filterColumn55(i) {
            var iii = i + "TC";
            var ii = i.replace("TTC", "");
            var tab = "tab" + ii;
            $('#' + tab + '').DataTable().column(7).search(
                $('#' + iii + '').val(),
            ).draw();
        }
        //function filterColumn66(i) {
        //    var iii = i + "DD";

        //    var ii = i.replace("DATEDEC", "");
        //    var tab = "tab" + ii;
        //    $('#' + tab + '').DataTable().column(10).search(
        //        $('#' + iii + '').val(),
        //    ).draw();
        //}
        //function filterColumn3(i) {
        //    var iii = i + "P";
        //    var ii = i.replace("PAYE", "");
        //    var tab = "tab" + ii;
        //    $('#' + tab + '').DataTable().column(8).search(
        //        $('#' + iii + '').val(),
        //    ).draw();

        //}
        //function filterColumn44(i) {
        //    var iii = i + "D";
        //    var ii = i.replace("DEC", "");
        //    var tab = "tab" + ii;
        //    $('#' + tab + '').DataTable().column(9).search(
        //        $('#' + iii + '').val(),
        //    ).draw();

        //}
        function filterColumn(i) {
            $('#Tableau').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
            ).draw();
        }
        $('#col3_filter').append($('<option>', {
            value: "",
            text: ""
        }));
        $.ajax({
            type: 'POST',
            url: "/Vente/GetAllClient",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#col2_filter').append($('<option>', {
                        value: item.NOM,
                        text: item.NOM
                    }));

                });
            }
        });
        $('.column_filter2').append($('<option>', {
            value: "",
            text: ""
        }));
        $.ajax({
            type: 'POST',
            url: "/Vente/GetAllClient",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('.column_filter2').append($('<option>', {
                        value: item.NOM,
                        text: item.NOM
                    }));

                });
            }
        });
        $('#col3_filter').append($('<option>', {
            value: "",
            text: ""
        }));
        $.ajax({
            type: 'POST',
                url: "/Vente/GetAllClient",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#col3_filter').append($('<option>', {
                        value: item.NOM,
                        text: item.NOM
                    }));

                });
            }
        });
    $(document).ready(function () {
        $("#Li-Vente").attr("class", "active");
        $("#ul-Vente").attr("class", "nav nav-second-level collapse in");
        $("#ul-Vente").attr("aria-expanded", "true");
        var Action = "@ViewBag.MODE";
        if (Action == "Create") {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000
                };
                toastr.success('Ajout avec Succés', '');

            }, 1300);
        }
        if (Action == "Edit") {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000
                };
                toastr.success('Modification avec Succés', '');

            }, 1300);
        }
        if (Action == "Aff") {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000
                };
                toastr.success('*****', '');

            }, 1300);
        }


        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });
        $('select.global_filter').on('change', function () {
            filterGlobal();
        });

        $('input.column_filter').on('keyup click', function () {
            filterColumn($(this).parents('tr').attr('data-column'));
        });
        $('input.column_filter0').on('keyup click', function () {
            filterColumn0($(this).parents('tr').attr('data-column'));
        });

        $('input.column_filter1').on('keyup click', function () {
            filterColumn11($(this).parents('tr').attr('data-column'));
        });

        //$('input.column_filter2').on('keyup click', function () {
        //   filterColumn22($(this).parents('tr').attr('data-column'));
        //});
        $('input.column_filter4').on('keyup click', function () {
            filterColumn33($(this).parents('tr').attr('data-column'));
        });
        $('input.column_filter5').on('keyup click', function () {
            filterColumn44($(this).parents('tr').attr('data-column'));
        });
        $('input.column_filter6').on('keyup click', function () {
            filterColumn55($(this).parents('tr').attr('data-column'));
        });
        //$('input.column_filter6').on('keyup click', function () {
        //    filterColumn66($(this).parents('tr').attr('data-column'));
        //});

        $('select.column_filter').on('change', function () {
            filterColumn($(this).parents('tr').attr('data-column'));
        });
        $('select.column_filter1').on('change', function () {
            filterColumn1($(this).parents('tr').attr('data-column'));
        });
        $('select.column_filter2').on('change', function () {
            filterColumn2($(this).parents('tr').attr('data-column'));
        });
        //$('select.column_filter3').on('change', function () {
        //    filterColumn3($(this).parents('tr').attr('data-column'));
        //});
        $('select.column_filter4').on('change', function () {
            filterColumn4($(this).parents('tr').attr('data-column'));
        });



    });
    </script>
}
