<link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/Content/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/Content/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<style type="text/css">

    #Tableau1 {
      
        width: 1250px;
    }

    .divScroll {
        overflow: auto;
       
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>
            FACTURES
        </h2>
        <ol class="breadcrumb">
            <li><a>Vente</a> </li>
            <li class="active"><strong>FACTURE</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding-top: 4px;">
                    <h5 style="padding-top: 10px;">
                        Liste des Factures clients
                    </h5>
                    <div class="ibox-tools">
                        <div class="col-lg-3">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" name="date2" id="date2" required>@ViewBag.date
                            </div>

                        </div>
                        <button class="btn btn-success" type="button" style="width : 40px" onclick="Btn_Aff_Date();">
                            <i class="fa fa-search"></i>
                        </button>

                        <button class="btn btn-success " type="button" onclick="location.href='@Url.Action("FormFacture", "Vente", new { Mode = "Create", Code = "-1" }, null)'">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;<span class="bold">Ajouter</span>
                        </button>

                        <div class="btn-group pull-right" style="margin-right: 5px;">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                <i class="fa fa-print" aria-hidden="true"></i>Imprimer <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li id="Pardate" onclick="Pardate();"><a href="#">Par Date</a></li>
                                <li id="ParAn" onclick="ParAn();"><a href="#">Par An</a></li>
                                <li id="ParAnFRS" onclick="ParAnFRS();"><a href="#">Par An/Client</a></li>
                                <li id="ParMoisFRS" onclick="ParMoisFRS();"><a href="#">Par Mois/Client</a></li>
                                <li id="paretat" onclick="paretat();"><a href="#">Par Etat</a></li>
                                <li id="Parclt" onclick="Parfrs();"><a href="#">Par Client</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divScroll">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs" id="listeAnnee">
                                    <li class="active"><a data-toggle="tab" href="#tab-1">all</a></li>
                                    @{
                                        Inspinia_MVC5.Models.MED_TRABELSI db = new Inspinia_MVC5.Models.MED_TRABELSI();
                                        List<Inspinia_MVC5.Models.Exercice> Exercice = db.Exercice.ToList();
                                        foreach (Inspinia_MVC5.Models.Exercice Ex in Exercice)
                                        {
                                            <li class=""><a data-toggle="tab" href="#@Ex.Annee">@Ex.Annee</a></li>
                                        }
                                    }

                                </ul>
                                <div class="tab-content" id="exercice">
                                    <div id="tab-1" class="tab-pane active">

                                        <div class="ibox-content" id="Content">
                                            <div class="row">
                                                <center>
                                                    <span class="badge badge-info">
                                                        <h1>TOTAL HT</h1>
                                                        <h1 id="TOTAL"><input id="TOTHT" name="TOTHT" value="0,000" style="COLOR: black;text-align: center;" disabled /></h1>
                                                    </span>
                                                    <span class="badge badge-info">
                                                        <h1>TOTAL TVA</h1>
                                                        <h1 id="RECU"><input id="TOTTVA" name="TOTTVA" value="0,000" style="COLOR: black;text-align: center;" disabled /></h1>
                                                    </span>
                                                    <span class="badge badge-info">
                                                        <h1>TOTAL TTC</h1>
                                                        <h1 id="RESTE"><input id="TOTTTC" name="TOTTTC" value="0,000" style="COLOR: black;text-align: center;" disabled /></h1>
                                                    </span>
                                                </center>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table cellpadding="1" cellspacing="0" border="0" style="width: 50%; margin: 0 auto 2em auto;">
                                                <thead>
                                                    <tr>
                                                        <th><center>Search</center></th>
                                                        <th><center>Search text</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr id="filter_col1" data-column="0">
                                                        <td align="center">N°</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col0_filter"></td>
                                                    </tr>

                                                    <tr id="filter_col2" data-column="1">
                                                        <td align="center">DATE</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col1_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col3" data-column="2">
                                                        <td align="center">clt</td>
                                                        <td align="center">
                                                            @*<select class="column_filter" id="col2_filter" style="width:154px; height:24px;"></select>*@
                                                            <input type="text" class="column_filter" id="col2_filter">
                                                        </td>
                                                    </tr>
                                                    <tr id="filter_col4" data-column="3">
                                                        <td align="center">VALIDEE</td>
                                                        <td align="center">
                                                            <select class="column_filter" id="col3_filter" style="width:154px; height:24px;">
                                                                <option value=""></option>
                                                                <option value="VALIDÉE">VALIDÉE</option>
                                                                <option value="NON VALIDEE">NON VALIDEE	</option>
                                                            </select>
                                                        </td>
                                                        @*<td align="center"><input type="text" class="column_filter" id="col3_filter"></td>*@
                                                    </tr>
                                                    <tr id="filter_col5" data-column="4">
                                                        <td align="center">PHT</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col4_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col6" data-column="5">
                                                        <td align="center">TTVA</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col5_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col7" data-column="6">
                                                        <td align="center">PTTC</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col6_filter"></td>
                                                    </tr>
                                                    <tr id="filter_col8" data-column="7">
                                                        <td align="center">PAYE</td>
                                                        <td align="center">
                                                            <select class="column_filter" id="col7_filter" style="width:154px; height:24px;">
                                                                <option value=""></option>
                                                                <option value="PAYÉE">PAYÉE</option>
                                                                <option value="NON PAYEE">NON PAYEE</option>
                                                            </select>
                                                        </td>
                                                        @*<td align="center"><input type="text" class="column_filter" id="col7_filter"></td>*@
                                                    </tr>
                                                    <tr id="filter_col9" data-column="8">
                                                        <td align="center">Declaration</td>
                                                        <td align="center">
                                                            <select class="column_filter" id="col8_filter" style="width:154px; height:24px;">
                                                                <option value=""></option>
                                                                <option value="DECLARÉE">DECLARÉE</option>
                                                                <option value="NON DECLAREE">NON DECLAREE</option>
                                                            </select>
                                                        </td>
                                                        @*<td align="center"><input type="text" class="column_filter" id="col8_filter"></td>*@

                                                    </tr>
                                                    <tr id="filter_col10" data-column="9">
                                                        <td align="center">Date Déclaration</td>
                                                        <td align="center"><input type="text" class="column_filter" id="col9_filter"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-striped table-bordered table-hover dataTables-example" cellspacing="0" width="100%" id="Tableau1">

                                                <thead>
                                                    <tr>
                                                        <th>
                                                            NUMERO
                                                        </th>
                                                        <th>
                                                            DATE
                                                        </th>
                                                        <th>
                                                            CLIENT
                                                        </th>
                                                        <th>
                                                            VALIDEE
                                                        </th>
                                                        <th>
                                                            NET HT
                                                        </th>
                                                        <th>
                                                            TOTALE TVA
                                                        </th>
                                                        <th>
                                                            TOTALE TTC
                                                        </th>
                                                        @*<th>
                                                                NET A PAYE
                                                            </th>*@
                                                        <th>
                                                            PAYE
                                                        </th>
                                                        <th>
                                                            Declaration
                                                        </th>
                                                        @* <th>
                                                                TIERS
                                                            </th>*@
                                                        <th>
                                                            Date Déclaration
                                                        </th>
                                                        <th>

                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (dynamic item in Model)
                                                    {
                                                        <tr id="@item.ID">
                                                            <td>
                                                                @item.CODE
                                                            </td>
                                                            <td>
                                                                @item.DATE
                                                            </td>
                                                            <td>
                                                                @item.FOURNISSEUR
                                                            </td>
                                                            <td>
                                                                @if (item.VALIDE == true)
                                                                {
                                                                    <span class="label label-primary">VALIDÉE</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-warning">NON VALIDEE</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.THT
                                                            </td>
                                                            <td>
                                                                @item.TTVA
                                                            </td>
                                                            <td>
                                                                @item.TTC

                                                            </td>
                                                            @*<td>
                                                                    @item.TNET
                                                                </td>*@
                                                            <td>
                                                                @if (item.PAYEE == true)
                                                                {
                                                                    <span class="label label-primary">PAYÉE</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-danger">NON PAYEE</span>
                                                                }
                                                            </td>

                                                            <td>

                                                                @if (item.Declar == true)
                                                                {
                                                                    <span class="label label-primary">DECLARÉE</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-danger">NON DECLAREE</span>
                                                                }
                                                            </td>
                                                            <td>


                                                                @if (item.DateDeclar != null)
                                                                {

                                                                    @String.Format("{0:MM/yyyy}", item.DateDeclar)
                                                                }
                                                                else
                                                                {
                                                                    @item.DateDeclar
                                                                }
                                                            </td>

                                                            <td>
                                                                @if ((item.VALIDE == true) && (item.PAYEE == true) && (item.Declar == true))
                                                                {
                                                                    <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);" disabled>
                                                                        <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                    </button>
                                                                    
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);">
                                                                        <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                    </button>
                                                                    
                                                                }
                                                                @{
                                                                    int idd = item.ID;
                                                                    Inspinia_MVC5.Models.MED_TRABELSI db2 = new Inspinia_MVC5.Models.MED_TRABELSI();
                                                                    Inspinia_MVC5.Models.AVOIRS_CLIENTS FACTURES_CLIENTS = db2.AVOIRS_CLIENTS.Where(f => f.FACTURE_CLIENT == idd).FirstOrDefault();

                                                                }
                                                                @if (FACTURES_CLIENTS != null)
                                                                {
                                                                    <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);" disabled>
                                                                        <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);">
                                                                        <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                    </button>
                                                                }

                                                                <button class="btn btn-warning  dim" type="button" style="width : 40px" onclick="Btn_Aff_click(@item.ID);">
                                                                    <i class="fa fa-eye"></i>
                                                                </button>

                                                                @if (item.TTC > 1000)
                                                                {
                                                                    <button class="btn btn-success " type="button" onclick="Retenue(@item.ID);">
                                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;<span class="bold">Retenue</span>
                                                                    </button>

                                                                }


                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="4" style="text-align:right">Total:</th>
                                                        @for (int i = 0; i < 7; i++)

                                                        {
                                                            <th></th>
                                                        }
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    @{
                                        int idste = (int)Session["SoclogoId"];
                                        Inspinia_MVC5.Models.MED_TRABELSI db1 = new Inspinia_MVC5.Models.MED_TRABELSI();
                                        List<Inspinia_MVC5.Models.Exercice> Exercice1 = db1.Exercice.ToList();
                                        List<Inspinia_MVC5.Models.FACTURES_CLIENTS> FACTURES_FOURNISSEURS1 = db1.FACTURES_CLIENTS.Where(f=>f.Societes== idste).ToList();
                                        foreach (Inspinia_MVC5.Models.Exercice Ex1 in Exercice1)
                                        {
                                            List<Inspinia_MVC5.Models.FACTURES_CLIENTS> FACTURES_FOURNISSEURS = new List<Inspinia_MVC5.Models.FACTURES_CLIENTS>();
                                            decimal tht = 0;
                                            decimal ttva = 0;
                                            decimal tttc = 0;

                                            string exan = (Ex1.Annee).ToString();
                                            foreach (Inspinia_MVC5.Models.FACTURES_CLIENTS ligne in FACTURES_FOURNISSEURS1)
                                            {
                                                string an = ligne.DATE.ToString("yyyy");
                                                if (exan == an)
                                                {
                                                    FACTURES_FOURNISSEURS.Add(ligne);
                                                    tht += (decimal)(ligne.THT);
                                                    ttva += (decimal)(ligne.TTVA);
                                                    tttc += (decimal)(ligne.TTC);

                                                }

                                            }


                                            <div id="@Ex1.Annee" class="tab-pane">
                                                <div class="ibox-content" id="Content">
                                                    <div class="row">
                                                        <center>
                                                            <span class="badge badge-info">
                                                                <h1>TOTAL HT</h1>
                                                                @{
                                                                    var totht = "TOTHT" + Ex1.Annee;
                                                                }
                                                                <h1 id="TOTAL"><input id="@totht" name="@totht" value="@tht" style="COLOR: black;text-align: center;" disabled /></h1>
                                                            </span>
                                                            <span class="badge badge-info">
                                                                <h1>TOTAL TVA</h1>
                                                                @{
                                                                    var tottva = "TOTTVA" + Ex1.Annee;
                                                                }
                                                                <h1 id="RECU"><input id="@tottva" name="@tottva" value="@ttva" style="COLOR: black;text-align: center;" disabled /></h1>
                                                            </span>
                                                            <span class="badge badge-info">
                                                                <h1>TOTAL TTC</h1>
                                                                @{
                                                                    var TOTTTC = "TOTTTC" + Ex1.Annee;
                                                                }
                                                                <h1 id="RESTE"><input id="@TOTTTC" name="@TOTTTC" value="@tttc" style="COLOR: black;text-align: center;" disabled /></h1>
                                                            </span>
                                                        </center>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <table cellpadding="1" cellspacing="0" border="0" style="width: 50%; margin: 0 auto 2em auto;">
                                                        <thead>
                                                            <tr>
                                                                <th><center>Search</center></th>
                                                                <th><center>Search text</center></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @*</tr>*@
                                                            @*@{
                                                                    var AN = "An" + @Ex1.Annee;
                                                                }*@
                                                            @{
                                                                var NUM1 = "NUM" + Ex1.Annee;
                                                                var NUM2 = "NUM" + Ex1.Annee + "N";
                                                            }
                                                            <tr id="filter_col1" data-column="@NUM1">
                                                                <td align="center">N°</td>
                                                                <td align="center"><input type="text" class="column_filter0" id="@NUM2"></td>
                                                            </tr>
                                                            @{
                                                                var DATE1 = "DATE" + Ex1.Annee;
                                                                var DATE2 = "DATE" + Ex1.Annee + "D";
                                                            }
                                                            <tr id="filter_col2" data-column="@DATE1">
                                                                <td align="center">DATE</td>
                                                                <td align="center"><input type="text" class="column_filter1" id="@DATE2"></td>
                                                            </tr>
                                                            @{
                                                                var FRS1 = "FRS" + Ex1.Annee;
                                                                var FRS2 = "FRS" + Ex1.Annee + "F";
                                                            }
                                                            <tr id="filter_col3" data-column="@FRS1">
                                                                <td align="center">FRS</td>
                                                                <td align="center">
                                                                    <select class="column_filter2" id="@FRS2" style="width:154px; height:24px;"></select>
                                                                </td>
                                                            </tr>
                                                            @{
                                                                var NUMFACT1 = "NUMFACT" + Ex1.Annee;
                                                                var NUMFACT2 = "NUMFACT" + Ex1.Annee + "NF";
                                                            }
                                                            <tr id="filter_col4" data-column="@NUMFACT1">
                                                                <td align="center">N°Fact</td>
                                                                <td align="center"><input type="text" class="column_filter2" id="@NUMFACT2"></td>
                                                            </tr>
                                                            @{
                                                                var val1 = "val" + @Ex1.Annee;
                                                                var val2 = "val" + Ex1.Annee + "V";

                                                            }
                                                            <tr id="filter_col5" data-column="@val1">
                                                                <td align="center">VALIDEE</td>
                                                                <td align="center">
                                                                    <select class="column_filter1" id="@val2" style="width:154px; height:24px;">
                                                                        <option value=""></option>
                                                                        <option value="VALIDÉE">VALIDÉE</option>
                                                                        <option value="NON VALIDEE">NON VALIDEE </option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            @{
                                                                var PHT1 = "PHT" + Ex1.Annee;
                                                                var PHT2 = "PHT" + Ex1.Annee + "HT";
                                                            }
                                                            <tr id="filter_col6" data-column="@PHT1">
                                                                <td align="center">PHT</td>
                                                                <td align="center"><input type="text" class="column_filter3" id="@PHT2"></td>
                                                            </tr>
                                                            @{
                                                                var TTVA1 = "TTVA" + Ex1.Annee;
                                                                var TTVA2 = "TTVA" + Ex1.Annee + "TV";
                                                            }
                                                            <tr id="filter_col7" data-column="@TTVA1">
                                                                <td align="center">TTVA</td>
                                                                <td align="center"><input type="text" class="column_filter4" id="@TTVA2"></td>
                                                            </tr>
                                                            @{
                                                                var TTC1 = "TTC" + Ex1.Annee;
                                                                var TTC2 = "TTC" + Ex1.Annee + "TC";
                                                            }
                                                            <tr id="filter_col8" data-column="@TTC1">
                                                                <td align="center">PTTC</td>
                                                                <td align="center"><input type="text" class="column_filter5" id="@TTC2"></td>
                                                            </tr>
                                                            @{
                                                                var PAYE1 = "PAYE" + @Ex1.Annee;
                                                                var PAYE2 = "PAYE" + Ex1.Annee + "P";

                                                            }
                                                            <tr id="filter_col9" data-column="@PAYE1">
                                                                <td align="center">PAYE</td>
                                                                <td align="center">
                                                                    <select class="column_filter3" id="@PAYE2" style="width:154px; height:24px;">
                                                                        <option value=""></option>
                                                                        <option value="PAYÉE">PAYÉE</option>
                                                                        <option value="NON PAYEE">NON PAYEE</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            @{
                                                                var DEC1 = "DEC" + @Ex1.Annee;
                                                                var DEC2 = "DEC" + Ex1.Annee + "D";

                                                            }
                                                            <tr id="filter_col10" data-column="@DEC1">
                                                                <td align="center">Declaration</td>
                                                                <td align="center">
                                                                    <select class="column_filter4" id="@DEC2" style="width:154px; height:24px;">
                                                                        <option value=""></option>
                                                                        <option value="DECLARÉE">DECLARÉE</option>
                                                                        <option value="NON DECLAREE">NON DECLAREE</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            @{
                                                                var DATEDEC1 = "DATEDEC" + Ex1.Annee;
                                                                var DATEDEC2 = "DATEDEC" + Ex1.Annee + "DD";
                                                            }
                                                            <tr id="filter_col11" data-column="@DATEDEC1">
                                                                <td align="center">Date Déclaration</td>
                                                                <td align="center"><input type="text" class="column_filter6" id="@DATEDEC2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    @{
                                                        var idtab = "tab" + Ex1.Annee;
                                                    }
                                                    <table class="table table-striped table-bordered table-hover dataTables-example" cellspacing="0" width="100%" id="@idtab">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    N°
                                                                </th>
                                                                <th>
                                                                    DATE
                                                                </th>
                                                                <th>
                                                                    Client
                                                                </th>
                                                               
                                                                <th>
                                                                    VALIDEE
                                                                </th>
                                                                <th>
                                                                    PHT
                                                                </th>
                                                                <th>
                                                                    TTVA
                                                                </th>
                                                                <th>
                                                                    PTTC
                                                                </th>

                                                                <th>
                                                                    PAYE
                                                                </th>

                                                                <th>
                                                                    Declaration
                                                                </th>

                                                                <th>
                                                                    Date Déclaration
                                                                </th>

                                                                <th>

                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in FACTURES_FOURNISSEURS)
                                                            {
                                                                <tr id="@item.ID">
                                                                    <td>
                                                                        @item.CODE
                                                                    </td>
                                                                    <td>
                                                                        @item.DATE
                                                                    </td>
                                                                    <td>
                                                                        @item.CLIENTS.NOM
                                                                    </td>
                                                                  
                                                                    <td>
                                                                        @if (item.VALIDER == true)
                                                                        {
                                                                            <span class="label label-primary">VALIDÉE</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="label label-warning">NON VALIDEE</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @item.THT
                                                                    </td>
                                                                    <td>
                                                                        @item.TTVA
                                                                    </td>
                                                                    <td>
                                                                        @item.TTC
                                                                    </td>

                                                                    <td>
                                                                        @if (item.PAYEE == true)
                                                                        {
                                                                            <span class="label label-primary">PAYÉE</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="label label-danger">NON PAYEE</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (item.Declaration == true)
                                                                        {
                                                                            <span class="label label-primary">DECLARÉE</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="label label-danger">NON DECLAREE</span>
                                                                        }
                                                                    </td>

                                                                    <td>


                                                                        @item.Date_Declaration


                                                                    </td>
                                                                    <td>
                                                                        @if ((item.VALIDER == true) && (item.PAYEE == true) && (item.Declaration == true))
                                                                        {
                                                                            <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);" disabled>
                                                                                <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                            </button>
                                                                            <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);" disabled>
                                                                                <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                            </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button class="btn btn-primary dim" type="button" style="width : 40px" onclick="Btn_Edit_click(@item.ID);">
                                                                                <i class="fa fa-pencil-square-o" style="margin-right: 2px;"></i>
                                                                            </button>
                                                                            <button class="btn btn-info  dim" type="button" style="width : 40px" onclick="Delete(@item.ID);">
                                                                                <i class="fa fa-trash" style="margin-right: 2px;"></i>
                                                                            </button>
                                                                        }



                                                                        <button class="btn btn-warning  dim" type="button" style="width : 40px" onclick="Btn_Aff_click(@item.ID);">
                                                                            <i class="fa fa-eye"></i>
                                                                        </button>
                                                                        @if (item.TTC > 1000)
                                                                        {
                                                                            <button class="btn btn-success " type="button" onclick="Retenue(@item.ID);">
                                                                                <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;<span class="bold">Retenue</span>
                                                                            </button>

                                                                        }

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5" style="text-align:right">Total:</th>
                                                                @for (int i = 0; i < 7; i++)
                                                                {
                                                                    <th></th>
                                                                }
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>
                                        }
                                    }
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Styles {
        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    }
    @section Scripts {

        @Scripts.Render("~/plugins/dataTables")
        @Scripts.Render("~/plugins/select2")
        @Scripts.Render("~/plugins/dataPicker")
        <script type="text/javascript">
        $("#date2").datepicker({
            format: 'dd/mm/yyyy'
        });
    //var table = $('#Tableau').DataTable();
    //    $('#Tableau tbody').on('contextmenu', 'tr', function (event) {

    //    if (event.button == 2) {
    //        window.myValue = $(this).attr('id');
    //        event.preventDefault();
    //        //var Width = $("#NavigationBar").width();
    //        $(".custom-menu").finish().toggle(100).css({
    //            top: event.pageY + "px",
    //            left: (event.pageX) -/* Width */+ "px"
    //        });
    //    }
    //});
    //$(document).bind("mousedown", function (e) {
    //    if (!$(e.target).parents(".custom-menu").length > 0) {
    //        $(".custom-menu").hide(100);
    //    }
    //});
    //$(".custom-menu li").click(function () {
    //    var MyValue = window.myValue;
    //    switch ($(this).attr("data-action")) {
    //        case "Edit": Btn_Edit_click(MyValue); break;
    //        case "Delete": Btn_Delete_click(MyValue); break;
    //        case "Aff": Btn_Aff_click(MyValue); break;

    //    }
    //    $(".custom-menu").hide(100);
    //});
    $("#PrintBtn").click(function () {
        window.open("/Vente/PrintAllFactureClient", '_blank');
    });
        function Btn_Edit_click(MyValue) {
            $.ajax({
                type: 'POST',
                url: "/Vente/verifieValiditeFac?id=" + MyValue,
                success: function (response) {
                    if (response == "NO") {
                        window.open("/Vente/FormFacture?Mode=Edit&Code=" + MyValue);
                    }
                    else {
                        window.location.href = window.location.href;
                        alert("Facture validée");
                    }
                }
            });

        }

          function Btn_Aff_Date() {
            //var date = $("#date").val();
            var date2 = $("#date2").val();
           var date11 = "@ViewBag.date";
            @*var date22 = "@ViewBag.Date2";*@
            $.ajax({
                type: 'POST',
                url: "/Vente/FacturePrdate?date2=" + date2,
                success: function (response) {
                    $("#date2").val(date11);
                    window.open("/Vente/FacturePrdate?date2=" + date2);
                }
            });
        }
        function Btn_Aff_click(MyValue) {

            $.ajax({
                type: 'POST',
                url: "/Vente/verifieValiditeFac?id=" + MyValue,
                success: function (response) {
                    if (response == "NO") {
                        window.location.href = window.location.href;
                        alert("Facture pas encore validée ou non payée");
                    }
                    else {
                        window.open("/Vente/FormFacture?Mode=Aff&Code=" + MyValue);
                    }
                }

            });
        }
        function Delete(MyValue) {
        var Conf = confirm("Voulez vous Supprimer cet elément ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/DeleteFacture?parampassed=" + MyValue,
                success: function (response) {
                    window.location = "/Vente/Facture";
                }
            });
        }
        var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
        $(this)
               .ajaxStart(function () {
                   preloader.fadeIn();
               })
               .ajaxStop(function () {
                   preloader.delay(800).fadeOut();
               });
        }
        function Retenue(MyValue) {
            var Conf = confirm("voulez vous imprimer un retenue à la source ?");
            if (Conf == true) {
                $.ajax({
                    type: 'POST',
                    url: "/Vente/PrintRetenue?Code=" + MyValue,
                    success: function (response) {
                        window.location = "/Vente/PrintRetenue?Code=" + MyValue;
                    }
                });
            }
            var preloader = $('<div>', { 'class': 'preloader' }).appendTo('body');
            $(this)
                   .ajaxStart(function () {
                       preloader.fadeIn();
                   })
                   .ajaxStop(function () {
                       preloader.delay(800).fadeOut();
                   });
        }
        @*function Pardate() {
            var parampassed = "@ViewBag.Code";
            var Conf = confirm("Voulez vous imprimer cette facture par Date ?");
            if (Conf == true) {
                $.ajax({
                    type: 'POST',
                    url: "/Vente/PrintAllFactureClient?parampassed=" + parampassed,
                    success: function (response) {
                        window.location.href = "/Vente/PrintAllFactureClient?Code=" + parampassed;
                    //    if (response == "NO") {
                    //        window.location.href = window.location.href;
                    //        alert("Facture pas encore validée");
                    //    }
                    //    else {
                    //        window.location.href = "/Vente/FormAvoir?Mode=Edit&Code=" + response;
                    //    }
                    }
                });
            }
        }
        function paretat() {
            var parampassed = "@ViewBag.Code";
            var Conf = confirm("Voulez vous imprimer cette facture par Etat ?");
            if (Conf == true) {
                $.ajax({
                    type: 'POST',
                    url: "/Vente/PrintAllFactureClientParetat?parampassed=" + parampassed,
                    success: function (response) {
                        window.location.href = "/Vente/PrintAllFactureClientParetat?Code=" + parampassed;
                        //    if (response == "NO") {
                        //        window.location.href = window.location.href;
                        //        alert("Facture pas encore validée");
                        //    }
                        //    else {
                        //        window.location.href = "/Vente/FormAvoir?Mode=Edit&Code=" + response;
                        //    }
                    }
                });
            }
        }
            function Parclt() {
                var parampassed = "@ViewBag.Code";
                var Conf = confirm("Voulez vous imprimer cette facture par Client ?");
                if (Conf == true) {
                    $.ajax({
                        type: 'POST',
                        url: "/Vente/PrintAllFactureClientParclt?parampassed=" + parampassed,
                        success: function (response) {
                            window.location.href = "/Vente/PrintAllFactureClientParclt?Code=" + parampassed;
                            //    if (response == "NO") {
                            //        window.location.href = window.location.href;
                            //        alert("Facture pas encore validée");
                            //    }
                            //    else {
                            //        window.location.href = "/Vente/FormAvoir?Mode=Edit&Code=" + response;
                            //    }
                        }
                    });
                }


        }*@
       function Parfrs() {
        var parampassed = "@ViewBag.Code";
                 var Conf = confirm("Voulez vous imprimer cette facture par Client ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClientParclt?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClientParclt?Code=" + parampassed;

                }
            });
        }
        }
        //function GetExercice() {

        //}
    function paretat() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous imprimer cette facture par Etat ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClientParetat?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClientParetat?Code=" + parampassed;
                  
                }
            });
        }
    }
    function Pardate() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous imprimer cette facture par Date ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClient?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClient?Code=" + parampassed;
                 
                }
            });
        }
    }
    function ParAn() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous imprimer cette facture par An ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClientParAn?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClientParAn?Code=" + parampassed;

                }
            });
        }


    }
    function ParAnFRS() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous imprimer cette facture par An/Client ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClientParAnFRS?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClientParAnFRS?Code=" + parampassed;

                }
            });
        }


    }
    function ParMoisFRS() {
        var parampassed = "@ViewBag.Code";
        var Conf = confirm("Voulez vous imprimer cette facture par Mois/Client ?");
        if (Conf == true) {
            $.ajax({
                type: 'POST',
                url: "/Vente/PrintAllFactureClientParMoisFRS?parampassed=" + parampassed,
                success: function (response) {
                    window.location.href = "/Vente/PrintAllFactureClientParMoisFRS?Code=" + parampassed;

                }
            });
        }


    }

        //--------------------------------------------------------------------------
            //******************************************************************
            $('#col2_filter').append($('<option>', {
                value: "",
                text: ""
            }));
            $.ajax({
                type: 'POST',
                url: "/Vente/GetAllClient",
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#col2_filter').append($('<option>', {
                            value: item.NOM,
                            text: item.NOM
                        }));

                    });
                }
            });
            $('.column_filter2').append($('<option>', {
                value: "",
                text: ""
            }));
            $.ajax({
                type: 'POST',
                url: "/Vente/GetAllClient",
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('.column_filter2').append($('<option>', {
                            value: item.NOM,
                            text: item.NOM
                        }));

                    });
                }
            });

        function filterGlobal() {
            $('#Tableau1').DataTable().search(
                $('#global_filter').val(),

            ).draw();
        }

            function filterColumn0(i) {

                var iii = i + "N";

                var ii = i.replace("NUM", "");

                var tab = "tab" + ii;

                $('#' + tab + '').DataTable().column(0).search(
                    $('#' + iii + '').val(),
                ).draw();

            }
            function filterColumn1(i) {

                var iii = i + "V";

                var ii = i.replace("val", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(4).search(
                    $('#' + iii + '').val(),
                ).draw();

            }
            filterColumn11
            function filterColumn2(i) {
                var iii = i + "F";
                var ii = i.replace("FRS", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(2).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn11(i) {
                var iii = i + "D";
                var ii = i.replace("DATE", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(1).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn22(i) {
                var iii = i + "NF";
                var ii = i.replace("NUMFACT", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(3).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn33(i) {
                var iii = i + "HT";
                var ii = i.replace("THT", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(5).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn44(i) {
                var iii = i + "TV";
                var ii = i.replace("TTVA", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(6).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn55(i) {
                var iii = i + "TC";
                var ii = i.replace("TTC", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(7).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn66(i) {
                var iii = i + "DD";

                var ii = i.replace("DATEDEC", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(10).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn3(i) {
                var iii = i + "P";
                var ii = i.replace("PAYE", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(8).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn44(i) {
                var iii = i + "D";
                var ii = i.replace("DEC", "");
                var tab = "tab" + ii;
                $('#' + tab + '').DataTable().column(9).search(
                    $('#' + iii + '').val(),
                ).draw();
            }
            function filterColumn(i) {
                $('#Tableau').DataTable().column(i).search(
                    $('#col' + i + '_filter').val(),
                ).draw();
            }




///--------------------------------------------------------------------------------------
        $(document).ready(function () {
        $("#Li-Vente").attr("class", "active");
        $("#ul-Vente").attr("class", "nav nav-second-level collapse in");
        $("#ul-Vente").attr("aria-expanded", "true");
        var Action = "@ViewBag.MODE";
        if (Action == "Create") {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000
                };
                toastr.success('Ajout avec Succés', '');

            }, 1300);
        }
        if (Action == "Edit") {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 3000
                };
                toastr.success('Modification avec Succés', '');

            }, 1300);
        }

            $('input.global_filter').on('keyup click', function () {
                filterGlobal();
            });
            $('select.global_filter').on('change', function () {
                filterGlobal();
            });

            $('input.column_filter').on('keyup click', function () {
                filterColumn($(this).parents('tr').attr('data-column'));
            });
            $('input.column_filter0').on('keyup click', function () {
                filterColumn0($(this).parents('tr').attr('data-column'));
            });

            $('input.column_filter1').on('keyup click', function () {
                filterColumn11($(this).parents('tr').attr('data-column'));
            });

            $('input.column_filter2').on('keyup click', function () {
                filterColumn22($(this).parents('tr').attr('data-column'));
            });
            $('input.column_filter3').on('keyup click', function () {
                filterColumn33($(this).parents('tr').attr('data-column'));
            });
            $('input.column_filter4').on('keyup click', function () {
                filterColumn44($(this).parents('tr').attr('data-column'));
            });
            $('input.column_filter5').on('keyup click', function () {
                filterColumn55($(this).parents('tr').attr('data-column'));
            });
            $('input.column_filter6').on('keyup click', function () {
                filterColumn66($(this).parents('tr').attr('data-column'));
            });

            $('select.column_filter').on('change', function () {
                filterColumn($(this).parents('tr').attr('data-column'));
            });
            $('select.column_filter1').on('change', function () {
                filterColumn1($(this).parents('tr').attr('data-column'));
            });
            $('select.column_filter2').on('change', function () {
                filterColumn2($(this).parents('tr').attr('data-column'));
            });
            $('select.column_filter3').on('change', function () {
                filterColumn3($(this).parents('tr').attr('data-column'));
            });
            $('select.column_filter4').on('change', function () {
                filterColumn4($(this).parents('tr').attr('data-column'));
            });

        $('#Tableau1').DataTable({

            "paging": false,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                debugger;
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                total1 = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                total2 = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over this page
                pageTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                pageTotal1 = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                pageTotal2 = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer
                $(api.column(4).footer()).html(
                    pageTotal / 1000 + ' TND' + ' (' + total / 1000 + ' TND)'

                );
                $(api.column(5).footer()).html(
                    pageTotal1 / 1000 + ' TND' + ' (' + total1 / 1000 + ' TND)'

                );
                $(api.column(6).footer()).html(
                    pageTotal2 / 1000 + ' TND' + ' (' + total2 / 1000 + ' TND)'

                );
                $("#TOTHT").val(pageTotal / 1000);
                $("#TOTTVA").val(pageTotal1 / 1000);
                $("#TOTTTC").val(pageTotal2 / 1000);
        }
            });
            $.ajax({
                type: 'POST',
                url: "/Achat/GetExercice",
                success: function (response) {
                    $.each(response, function (i, item) {
                        var tab = "tab" + item.Annee;
                        $('#' + tab + '').DataTable({
                            "paging": false,
                            "footerCallback": function (row, data, start, end, display) {
                                var api = this.api(), data;
                                // Remove the formatting to get integer data for summation
                                var intVal = function (i) {
                                    return typeof i === 'string' ?
                                        i.replace(/[\$,]/g, '') * 1 :
                                        typeof i === 'number' ?
                                            i : 0;
                                };
                                // Total over all pages
                                total = api
                                    .column(5)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                total1 = api
                                    .column(6)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                total2 = api
                                    .column(7)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                // Total over this page
                                pageTotal = api
                                    .column(5, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                pageTotal1 = api
                                    .column(6, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                pageTotal2 = api
                                    .column(7, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                                // Update footer
                                $(api.column(5).footer()).html(
                                    pageTotal / 1000 + ' TND' + ' (' + total / 1000 + ' TND)'

                                );
                                $(api.column(6).footer()).html(
                                    pageTotal1 / 1000 + ' TND' + ' (' + total1 / 1000 + ' TND)'

                                );
                                $(api.column(7).footer()).html(
                                    pageTotal2 / 1000 + ' TND' + ' (' + total2 / 1000 + ' TND)'

                                );
                                $("#TOTHT" + item.Annee).val(pageTotal / 1000);
                                $("#TOTTVA" + item.Annee).val(pageTotal1 / 1000);
                                $("#TOTTTC" + item.Annee).val(pageTotal2 / 1000);
                            }
                        });

                    });
                }
            });
    });
        </script>
    }
