@model IEnumerable<Inspinia_MVC5.Models.TABLES_BD>

@*<p>
            @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm("SendPrefixe", "SocieteLogoes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <input type="submit" value="create" />
    <div class="divScroll">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <table class="table table-striped table-bordered table-hover dataTables-example"
                           id="Tableau">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Libelle_Table)
                            </th>
                            <th>
                                Préfixe Exemple(CLIENT:C0000/yy ==> C0001/18{yy:Année})
                            </th>
                            @*<th>
                                        Exemple:
                            </th>*@
                        </tr>
                        @{
                            Inspinia_MVC5.Models.Tr db = new Inspinia_MVC5.Models.Tr();
                            List<Inspinia_MVC5.Models.TABLES_BD> TABLES_BD = db.TABLES_BD.ToList();
                            foreach (var item in TABLES_BD)
                            {

                                <tr>
                                    <td>
                                        @item.Libelle_Table
                                    </td>

                                    <td>
                                        <input type="text" id="pref" name="pref" required />
                                    </td>
                                    @*<td>
                                            FA000O/YY(Y:Year;0000:Incrimentation)
                                    </td>*@
                                    @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>*@
                                </tr>
                            }}

                    </table>
                </div>
            </div>
        </div>
    </div>
}

