@model Inspinia_MVC5.Models.ProjetTechniques

@{
    ViewBag.Title = "ttttttttttt";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>ttttttttttt</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>ttttttttttt</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ttttttttttt ProjetTechnique</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProjetTechniqueId)

        <div class="form-group">
            @Html.LabelFor(model => model.ReferenceTech, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceTech)
                @Html.ValidationMessageFor(model => model.ReferenceTech)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateDebut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateDebut)
                @Html.ValidationMessageFor(model => model.DateDebut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFin)
                @Html.ValidationMessageFor(model => model.DateFin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cout, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cout)
                @Html.ValidationMessageFor(model => model.Cout)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientId)
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonnelId)
                @Html.ValidationMessageFor(model => model.PersonnelId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Statut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Statut)
                @Html.ValidationMessageFor(model => model.Statut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation)
                @Html.ValidationMessageFor(model => model.Designation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


