@model Inspinia_MVC5.Models.CLIENTS

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div>
                            <h4>CLIENTS</h4>
                        </div>
                        <div class="ibox-content">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CODE)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CODE)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NOM)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NOM)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ADRESSE)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ADRESSE)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TELEPHONE)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TELEPHONE)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FAX)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FAX)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.EMAIL)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EMAIL)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SITE_WEB)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SITE_WEB)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ID_FISCAL)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ID_FISCAL)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.AI)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AI)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NIS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NIS)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.RC)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.RC)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.RIB)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.RIB)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CONTACT)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CONTACT)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Exttva)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Exttva)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>













</body>
</html>
