@model Inspinia_MVC5.Models.SERVICES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SERVICES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DES_SERVICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_SERVICE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
